.btn-outline-primary {
  border-color: #0dadb7;
  color: #0dadb7;
}

.btn-outline-primary:hover {
  background-color: #0dadb7;
  border-color: #0dadb7;
  color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  border-color: #0dadb7;
  background-color: #0dadb7;
  color: #fff;
}

.btn-primary {
  color: #fff !important;
}

.btn-small {
  max-height: 25px;
  max-width: 25px;
  padding-left: 3px;
  padding-top: 0;
}

form {
  margin:10px;
}

.form-row {
  margin: 10px;
}

.sm-col {
  max-width: 80px;
}

.on-call-doctor-row td.confirmed {
  background-color: #b8dbf9;
}

.on-call-doctor-row td.unconfirmed {
  background-color: #f7d7bb;
}

.table-on-call-doctor-list {  
  background-color: #fff;
  font-size: smaller;
}

.table-on-call-doctor-list th:nth-child(n-5) {  
  background-color:#0dadb7;
  color: white;
}

.table-on-call-doctor-list th:nth-child(n+5) {  
  background-color:#0dadb7;
  color: white;
}

.table-on-call-doctor-list td a {
  font-weight: bold;
}

.table-on-call-doctor-list th:nth-child(n-1) {
  width: 40px;
}
