<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12 offset-md-0">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <em class="fas fa-th-list fa-4x"></em>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">On Call Doctor List</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-body">
          <form novalidate>
            <div class="form-row">              
              <div class="col-md-2 offset-md-10 text-right mt-more-2">
                <a
                  (click)="add()"
                  class="btn btn-primary"
                  aria-disabled="true"
                  placement="top"
                  ngbTooltip="Add a new on call doctor"
                  [openDelay]="1000"
                  [closeDelay]="500"
                  tooltipClass="subtle-tooltip"
                >
                  <i class="fas fa-plus"></i>
                  Add On Call Doctor
                </a>
              </div>
            </div>
            <div class="form-row">
              <table class="table table-bordered table-sm table-on-call-doctor-list">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">
                      Doctor
                    </th>
                    <th class="text-center" scope="col">
                      GMC Number
                    </th>
                    <th class="text-center" scope="col">
                      Start Date / Time
                    </th>
                    <th class="sm-col text-center" scope="col">
                      End Date / Time
                    </th>
                    <th class="sm-col text-center" scope="col">
                      Confirmation Request Sent
                    </th>
                    <th class="text-center" scope="col">
                      Location
                    </th> 
                    <th class="text-center" scope="col">
                      Confirmation Status
                    </th>                    
                    <th class="text-center" scope="col">
                      If Confirmation Status is No, reason and details
                    </th>                     
                    <th class="sm-col text-center" scope="col">
                      &nbsp; &nbsp;
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="on-call-doctor-row" *ngFor="let onCallDoctor of onCallDoctorList$ | async">
                    <td class="{{onCallDoctor.confirmationStatus ? 'confirmed' : 'unconfirmed'}}">
                      <ngb-highlight [result]="onCallDoctor.doctorName">
                      </ngb-highlight>
                    </td>
                    <td class="{{onCallDoctor.confirmationStatus ? 'confirmed' : 'unconfirmed'}}">
                      <ngb-highlight [result]="onCallDoctor.gmcNumber">
                      </ngb-highlight>
                    </td>
                    <td class="{{onCallDoctor.confirmationStatus ? 'confirmed' : 'unconfirmed'}}">
                      <ngb-highlight result="{{onCallDoctor.startDateTime| date: 'dd/MM/yy HH:mm'}}">
                      </ngb-highlight>
                    </td>
                    <td class="{{onCallDoctor.confirmationStatus ? 'confirmed' : 'unconfirmed'}}">
                      <ngb-highlight result="{{onCallDoctor.endDateTime | date: 'dd/MM/yy HH:mm'}}">
                      </ngb-highlight>
                    </td>
                    <td class="{{onCallDoctor.confirmationStatus ? 'confirmed' : 'unconfirmed'}}">
                      <ngb-highlight result="{{onCallDoctor.confirmationRequestSentDateTime | date: 'dd/MM/yy HH:mm'}}">
                      </ngb-highlight>
                    </td>
                    <td class="{{onCallDoctor.confirmationStatus ? 'confirmed' : 'unconfirmed'}}">
                      <ngb-highlight [result]="onCallDoctor.location">
                      </ngb-highlight>
                    </td>
                    <td class="{{onCallDoctor.confirmationStatus ? 'confirmed' : 'unconfirmed'}}">
                      <ngb-highlight result="{{onCallDoctor.confirmationStatus ? 'Yes' : 'No'}}">
                      </ngb-highlight>
                    </td>
                    <td class="{{onCallDoctor.confirmationStatus ? 'confirmed' : 'unconfirmed'}}">
                      <ngb-highlight [result]="onCallDoctor.confirmationReasonAndDetails">
                      </ngb-highlight>
                    </td>
                    <td class="{{onCallDoctor.confirmationStatus ? 'confirmed' : 'unconfirmed'}}">
                      <button class="btn btn-outline-primary btn-small" (click)="edit()">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="btn btn-outline-primary btn-small" (click)="delete()">
                        <i class="fas fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>