<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <defaultDocument>
          <files>
              <clear />
              <add value="index.html" />
              <add value="Default.htm" />
              <add value="Default.asp" />
              <add value="index.htm" />
              <add value="iisstart.htm" />
          </files>
      </defaultDocument>
      <rewrite>
        <rules>
          <rule name="Angular Routes" stopProcessing="true">
              <match url=".*" />
              <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                <add input="{REQUEST_URI}" pattern="^.*/(api|signalr|mobile)" negate="true" />
              </conditions>
              <action type="Rewrite" url="./index.html" />
          </rule>
          <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Temporary" />
          </rule>          
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
