<app-navbar title="Assessment Details"></app-navbar>

<ion-content fullscreen>
 
  <ion-list>

    <ion-list-header>
      Assessment Details  
    </ion-list-header>

  <ion-item>
    <ion-label>
      <h3 class="bold">Referral Id</h3>
      <h3>{{assessment?.referralId}}</h3>
    </ion-label>            
  </ion-item>

  <ion-item>
    <ion-label>
      <h3 class="bold">Referral Status</h3>
      <h3>{{assessment.referralStatus}}</h3>
    </ion-label>            
  </ion-item>

  <ion-item>
    <ion-label>
      <h3 class="bold">Patient Identifier</h3>
      <h3>{{assessment?.patientIdentifier}}</h3>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h3 class="bold" *ngIf="assessment?.isPlanned">Scheduled</h3>
      <h3 class="bold" *ngIf="!assessment?.isPlanned">Complete by</h3>
      <h3>{{assessment?.dateTime | date: "d MMMM yyyy H:mm"}}</h3>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h3 class="bold">AMHP</h3>
      <h3>{{assessment.amhpUserName}}</h3>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="assessment?.specialityName">
    <ion-label>
      <h3 class="bold">Assessment Speciality</h3>
      <h3>{{assessment?.specialityName}}</h3>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h3 class="bold">Assessment Address</h3>
      <h3>{{assessment.address1}}</h3>
      <h3>{{assessment.address2}}</h3>
      <h3>{{assessment.address3}}</h3>
      <h3>{{assessment.address4}}</h3>
      <h3><strong>{{assessment.postcode}}</strong></h3>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="assessment.meetingArrangementComment">
    <ion-label>
      <h3 class="bold">Meeting Comments</h3>
      <h3 class="wrap">{{assessment.meetingArrangementComment}}</h3>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="assessment.detailTypes.length > 0">
    <ion-label>
      <h3 class="bold">Further Information / Risks</h3>
      <h3 *ngFor="let detail of assessment.detailTypes">{{detail.name}}</h3>
    </ion-label>
  </ion-item>

  </ion-list>
</ion-content>

<ion-footer *ngIf="assessment.hasBeenReviewed">
  <ion-toolbar>
    <ion-button 
      [routerLink]="['/claims-create/', assessment.id]" 
      routerDirection="forward"
      color="primary"
      expand="block"
    >
      Create Claim
    </ion-button>  
  </ion-toolbar>
</ion-footer>