<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/autologin">Sign In <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-6 text-center bg-light csu">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal text-white">Midlands and Lancashire Commissioning Support Unit </h1>
    <p class="text-muted font-weight-normal text-white">We understand, as health and care decision-makers,
      you want to make a difference – for both patients and services to develop an all-round
      healthier community. NHS Midlands and Lancashire Commissioning Support Unit (MLCSU) will
      help you achieve your goals and deliver the healthcare support you are looking for.</p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" #main>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Our Vision</h2>
      <p class="text-muted font-weight-normal text-left">
        To be pivotal in fully supporting the delivery of major improvements in health and wellbeing.
        Our size and scale enable us to provide the bold innovation, ideas, service resilience and
        the confidence to face your challenges and opportunities with you. Our teams of experts
        are ready to support you. Everything we do is designed to give you the professional backing
        you are looking for – whenever and wherever you need it. We understand and share your aims,
        and we know our business inside and out.
      </p>
      <p class="text-muted font-weight-normal text-left">
        Our clients, including clinical commissioning groups (CCGs), hospital trusts, local
        authorities, integrated care systems (ICSs) and other public bodies trust us to work with
        them to make important things happen.
      </p>
      <p class="text-muted font-weight-normal text-left">
        We are an organisation with a unique geographical reach and experience in serving diverse
        urban and rural populations and facing a range of commissioning challenges. Ten of England’s
        sustainability and transformation partnerships (STPs) already benefit from our expertise.
      </p>
      <p class="text-muted font-weight-normal text-left">
        We provide end-to-end support to health systems. Fifty clinical commissioning groups,
        covering one-quarter of England’s population with a total healthcare spend of £14.9billion,
        ten health systems and diverse clients from the public sector and government already benefit
        from our expertise. We employ 1,600 staff, many of them leaders in their field. We are ready
        to help you meet today’s NHS and social care challenges. Plus… our decades of collective
        senior NHS experience lends support to the most challenging or ambitious of system
        integration plans. Whether it’s really strong commissioning or business support, such as
        payroll and contract management… or strategic data analysis, thinking and shaping, for
        example in service change or digital expertise from our Digital Innovation Unit who
        developed the  ‘Find Me a Locum’ App.
      </p>
    </div>
  </div>
</div>

<div class="position-relative d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Digital Innovation Unit</h2>
      <h4 class="display-5">Leading digital innovation from within the NHS</h4>
      <p class="text-muted font-weight-normal text-left">
        The Digital Innovation Unit is an award-winning not-for-profit service, born from the NHS.
        We use technology to improve health and care – helping commissioners, health and care
        providers and Government to develop innovative digital solutions to some of the NHS’s
        greatest challenges. From building a real time command and control system, to developing
        a GP locum finder, our ground-breaking work is transforming the NHS. In a climate of
        increased demand and limited resources, our impartial, evidence-driven team of digital
        experts are helping the NHS to reduce costs and improve patient care.
      </p>
      <h4 class="display-5 text-left">Born of the NHS</h4>
      <p class="text-muted font-weight-normal text-left">
        The Digital Innovation Unit was established in 2012 to improve the development and
        implementation of cutting-edge digital services within the NHS.
      </p>
      <p class="text-muted font-weight-normal text-left">
        Faced with increasing demand and limited resources, we believe that many of the NHS’s
        greatest problems can only be solved by better utilising technology to reduce costs and
        improve patient care.
      </p>
      <p class="text-muted font-weight-normal text-left">
        Restless for change, we assembled some of the NHS’s most talented digital specialists and
        formed the Digital Innovation Unit – a team of sector-leading Developers, Project Managers,
        Business Analysts, Digital Technologists and Strategy Leaders.
      </p>
      <p class="text-muted font-weight-normal text-left">
        Operating as part of the NHS Midlands and Lancashire CSU, our team adopts an agile
        development process and boasts a wealth of knowledge in digital infrastructure, cyber
        security, business analysis, research and development and NHS IT systems – helping GPs
        and health and care providers to find new opportunities to help patients and revolutionise
        their services. All our work is informed by evidence and rigorously tested.
      </p>
      <p class="text-muted font-weight-normal text-left">
        Where NHS IT infrastructure projects have long had a reputation for cost and complexity,
        the Digital Innovation Unit aims to simplify technology and use the right tools for the job
        – whether that means implementing or customising existing digital systems, or building
        bespoke solutions. As a not-for-profit, our fees are considerably lower than our private
        sector competitors, and because we’re part of a CSU, our clients’ investment remains within
        the NHS economy. And, as an even greater incentive, we often share intellectual property and
        financial returns with our clients.
      </p>
      <p class="text-muted font-weight-normal text-left">
        As the NHS grapples with the digital challenges of tomorrow, we are ready to play our part –
         increasing efficiency, lowering costs and, above all, changing lives by improving patient
         care.
      </p>
    </div>
    <div class="diu d-none d-md-block"></div>
  </div>

</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden csu">

    <div class="my-3 p-3">
      <h2 class="display-5">Our Services</h2>
      <ngb-carousel #carousel [interval]="5000" [showNavigationArrows]="false" [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let service of services; index as i">
          <div>
            <h3 class="text-white">{{service}}</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>

<footer class="container py-5">

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden ">

      <div class="d-flex flex-column flex-md-row bd-highlight mb-6">

      <div class="my-3 p-3 flex-fill">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        <small class="d-block mb-3 text-muted text-left">&copy; 2019-2020 Midlands and Lancashire CSU</small>
      </div>

      <div class="my-3 p-3 flex-fill">
        <h5 class="text-left">Contact</h5>
        <ul class="list-unstyled text-small text-left">
          <li><a class="text-muted" href="#">midlands.lancashire@nhs.net</a></li>
          <li><a class="text-muted" href="#">0121 612 1500</a></li>
        </ul>
      </div>

      <div class="my-3 p-3 flex-fill">
        <h5 class="text-left">Address</h5>
        <ul class="list-unstyled text-small text-left">
          <li><a class="text-muted" href="#">Midlands and Lancashire CSU</a></li>
          <li><a class="text-muted" href="#">Kingston House, 438-450 High Street</a></li>
          <li><a class="text-muted" href="#">West Bromwich</a></li>
          <li><a class="text-muted" href="#">West Midlands</a></li>
          <li><a class="text-muted" href="#">B70 9LD</a></li>
        </ul>
      </div>
      </div>
    </div>
  </div>

</footer>
