<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12 offset-md-0">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <em class="fas fa-user fa-4x"></em>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">User Profile</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-body offset-md-1" *ngIf="userProfileForm">
          <form [formGroup]="userProfileForm" novalidate>
            <div class="form-row user-row">
              <div class="required-field col-md-3 mb-3 text-left">
                <strong>Denotes mandatory field.</strong>
              </div>
            </div>
            <!-- DisplayName -->
            <div class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Display name: </label>
              </div>
              <div class="col-md-3">
                <input class="form-control"
                  formControlName="displayName"
                  #displayName
                  id="displayName">
              </div>
              <!-- GMC Number -->
              <div class="col-md-2" *ngIf="userProfile.isDoctor">
                <label class="required-field">GMC Number: </label>
              </div>
              <div class="col-md-2" *ngIf="userProfile.isDoctor">
                <input class="form-control"
                  formControlName="gmcNumber"
                  maxlength="7"
                  minlength="7"
                  #gmcNumber
                  id="gmcNumber">
              </div>
              <div class="col-md-1" *ngIf="userProfile.isDoctor">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="VerifyGMCNumber()"
                >
                  Verify
                </button>
              </div>
            </div>
            <!-- DisplayName & GMC Number Errors -->
            <div class="form-row" *ngIf="controls.displayName.errors || controls.gmcNumber.errors">
              <div class="col-md-4 offset-md-2" *ngIf="controls.displayName.errors">
                <div
                  class="invalid-field"
                  *ngIf="controls.displayName.errors.required"
                >
                  <span>* Display Name is required</span>
                </div>
              </div>
              <div
                class="col-md-4 offset-md-{{controls.displayName.errors ? '1' : '7'}}"
                *ngIf="controls.gmcNumber.errors">
                <div
                  class="invalid-field"
                  *ngIf="controls.gmcNumber.errors.required"
                >
                  <span>* GMC Number is required</span>
                </div>
                <div
                  class="invalid-field"
                  *ngIf="controls.gmcNumber.errors.pattern"
                >
                  <span>* GMC Number must be 7 digits</span>
                </div>
              </div>
            </div>
            <div *ngIf="!userProfile.isDoctor" class="form-row user-row">
              <div class="col-md-2">
                <label>Organisation: </label>
              </div>
              <div class="col-md-3">
              <label>{{userProfile.organisationName}}</label>
              </div>
            </div>
            <!-- Gender -->
            <div class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Gender: </label>
              </div>
              <div class="col-md-3">
                <select
                  class="custom-select custom-select-lg mb-2 form-control"
                  formControlName="genderTypeId"
                  #genderTypeId id="genderTypeId"
                >
                  <option
                    *ngFor="let gender of genderTypes$ | async"
                    [value]="gender.id" [selected]="gender.id==controls.genderTypeId.value"
                  >
                    {{gender.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-2" *ngIf="userProfile.isDoctor">
                <label>S12 Approved: </label>
              </div>
              <div class="col-md-3" *ngIf="userProfile.isDoctor">
                <label>
                  {{
                    userProfile.section12ApprovalStatusId === section12Approved
                    ? 'Approved'
                    : 'Not Approved'
                  }}
                </label>
              </div>
            </div>
            <!-- GenderType Errors -->
            <div class="form-row" *ngIf="controls.genderTypeId.errors">
              <div class="col-md-4 mb-2 offset-md-2">
                <div
                  class="invalid-field"
                  *ngIf="controls.genderTypeId.errors.required"
                >
                  <span>* Gender is required </span>
                </div>
              </div>
            </div>
            <!-- Email -->
            <div *ngIf="!userProfile.isDoctor" class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Email: </label>
              </div>
              <div class="col-md-3">
                <input class="form-control"
                  formControlName="emailAddress"
                  #emailAddress
                  id="emailAddress">
              </div>
            </div>
            <!-- Email Errors -->
            <div class="form-row" *ngIf="controls.emailAddress.errors">
              <div class="col-md-4 mb-2 offset-md-2">
                <div
                  class="invalid-field"
                  *ngIf="controls.emailAddress.errors.required"
                >
                  <span>* Email Address is required</span>
                </div>
                <div
                  class="invalid-field"
                  *ngIf="controls.emailAddress.errors.email"
                >
                  <span>* Must be an email address</span>
                </div>
              </div>
            </div>
            <!-- Mobile Number -->
            <div *ngIf="!userProfile.isDoctor" class="form-row user-row">
              <div class="col-md-2">
                <label [class]="userProfile.isAmhp ? 'required-field' : ''">Mobile: </label>
              </div>
              <div class="col-md-3">
                <input class="form-control"
                  formControlName="mobileNumber"
                  #mobileNumber
                  id="mobileNumber">
              </div>
            </div>
            <!-- Mobile Number Errors -->
            <div class="form-row" *ngIf="controls.mobileNumber.errors">
              <div class="col-md-4 mb-2 offset-md-2">
                <div
                  class="invalid-field"
                  *ngIf="controls.mobileNumber.errors.required"
                >
                  <span>* Mobile Number is required</span>
                </div>
                <div
                class="invalid-field"
                *ngIf="controls.mobileNumber.errors.pattern"
              >
                <span>* Mobile number must be digits only</span>
              </div>
              </div>
            </div>
            <!-- Telephone Number -->
            <div *ngIf="!userProfile.isDoctor" class="form-row user-row">
              <div class="col-md-2">
                <label>Telephone: </label>
              </div>
              <div class="col-md-3">
                <input class="form-control"
                  formControlName="telephoneNumber"
                  #telephoneNumber
                  id="telephoneNumber">
              </div>
            </div>
            <!-- Telephone Number Errors -->
              <div class="form-row" *ngIf="controls.telephoneNumber.errors">
                <div class="col-md-4 mb-2 offset-md-2">
                  <div
                    class="invalid-field"
                    *ngIf="controls.telephoneNumber.errors.pattern"
                  >
                    <span>* Telephone number must be digits only</span>
                  </div>
                </div>
            </div>
            <!-- Specialities -->
            <div *ngIf="userProfile.isDoctor" class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Specialities</label>
              </div>
              <div class="col-md-3">
                <ng-multiselect-dropdown
                  formControlName="specialities"
                  [settings]="dropdownSettings"
                  [data]="allSpecialities$ | async">
                </ng-multiselect-dropdown>
              </div>
              <div class="col-md-2" *ngIf="userProfile.isDoctor">
                <label>S12 Expiry Date: </label>
              </div>
              <div class="col-md-3" *ngIf="userProfile.isDoctor">
                <label>{{userProfile.section12ExpiryDate | date: 'd MMMM yyyy'}}</label>
              </div>
            </div>
            <!-- Specialities Errors -->
            <div class="form-row" *ngIf="controls.specialities.errors">
              <div class="col-md-4 mb-2 offset-md-2">
                <div
                  class="invalid-field"
                  *ngIf="controls.specialities.errors.required"
                >
                  <span>* Please select one or more specialities</span>
                </div>
              </div>
            </div>
            <!-- Contact Details -->
            <div *ngIf="userProfile.isDoctor" class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Contact Details </label>
              </div>
            </div>
            <div *ngIf="userProfile.isDoctor" class="form-row table-row">
              <div class="col-md-10">
                <div class="table-responsive">
                  <table class="table table-bordered table-sm table-contact-details">
                    <thead>
                      <tr>
                        <th class="text-center"
                          scope="col"
                          columnType='string'>
                          Contact Detail
                        </th>
                        <th class="text-center"
                          scope="col"
                          columnType='number'>
                          Address
                        </th>
                        <th class="text-center"
                          scope="col"
                          columnType='string'>
                          Postcode
                        </th>
                        <th class="text-center"
                          scope="col"
                          columnType='string'>
                          Email
                        </th>
                        <th class="text-center"
                          scope="col"
                          columnType='string'>
                          Telephone
                        </th>
                        <th class="text-center"
                          scope="col"
                          columnType='string'>
                          Mobile
                        </th>
                        <th class="sm-col text-center" scope="col">
                          &nbsp; &nbsp;
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="contact-detail-row" *ngFor="let contactDetail of controls.contactDetails.value">
                        <td>
                          <ngb-highlight result="{{contactDetail.contactDetailTypeName}}">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight result="{{(contactDetail.address1 ? contactDetail.address1 : '') +
                          (contactDetail.address1 && contactDetail.address2 ? ', ' : '') +
                          (contactDetail.address2 ? contactDetail.address2 : '') +
                          (contactDetail.address2 && contactDetail.address3 ? ', ' : '') +
                          (contactDetail.address3 ? contactDetail.address3 : '')}}">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight result="{{contactDetail.postcode}}">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight result="{{contactDetail.emailAddress}}">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight result="{{contactDetail.telephoneNumber}}">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight result="{{contactDetail.mobileNumber}}">
                          </ngb-highlight>
                        </td>
                        <td class="text-right">
                          <button class="btn btn-outline-primary btn-small" (click)="EditContactDetail(contactDetail)">
                            <i class="fas fa-edit"></i>
                          </button>
                          <button class="btn btn-outline-primary btn-small" (click)="DeleteContactDetail(contactDetail)">
                            <i class="fas fa-times"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Contact Details Errors -->
            <div class="form-row" *ngIf="controls.contactDetails.errors">
              <div class="col-md-4 mb-2">
                <div
                  class="invalid-field"
                  *ngIf="controls.contactDetails.errors.baseRequired"
                >
                  <span>* Please add a Base contact detail</span>
                </div>
              </div>
            </div>
            <div *ngIf="userProfile.isDoctor" class="form-row user-row">
              <div class="col-md-1 offset-md-9">
                <button class="btn btn-primary btn-standard btn-spaced" type="button" [disabled]="UserHasAllContactDetails()" (click)="AddContactDetail()">
                  Add
                </button>
              </div>
            </div>
            <!-- Finance Details -->
            <div *ngIf="userProfile.isDoctor" class="form-row user-row">
              <div class="col-md-2">
                <label>Finance Details </label>
              </div>
            </div>
            <div *ngIf="userProfile.isDoctor" class="form-row table-row">
              <div class="col-md-10">
                <div class="table-responsive">
                  <table class="table table-bordered table-sm table-contact-details">
                    <thead>
                      <tr>
                        <th class="text-center"
                          scope="col"
                          columnType='string'>
                          CCG Name
                        </th>
                        <th class="text-center"
                          scope="col"
                          columnType='number'>
                          VSR Number
                        </th>
                        <th class="sm-col text-center" scope="col">
                          &nbsp; &nbsp;
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="contact-detail-row" *ngFor="let financeDetail of controls.bankDetails.value">
                        <td>
                          <ngb-highlight result="{{financeDetail.ccg.name}}">
                          </ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight result="{{financeDetail.vsrNumber}}">
                          </ngb-highlight>
                        </td>
                        <td class="text-right">
                          <button class="btn btn-outline-primary btn-small" (click)="EditFinanceDetail(financeDetail)">
                            <i class="fas fa-edit"></i>
                          </button>
                          <button class="btn btn-outline-primary btn-small" (click)="DeleteFinanceDetail(financeDetail)">
                            <i class="fas fa-times"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div *ngIf="userProfile.isDoctor" class="form-row user-row">
              <div class="col-md-1 offset-md-9">
                <button class="btn btn-primary btn-standard btn-spaced" type="button" (click)="AddFinanceDetail()">
                  Add
                </button>
              </div>
            </div>
            <div class="form-row mt-more-2">
              <div class="col-md-2 mb-2 {{userProfile.isDoctor ? 'offset-md-8' : 'offset-md-4'}} text-right">
                <button class="btn btn-standard btn-cancel" type="button" (click)="Cancel()">
                  <i class="far fa-times-circle"></i>
                  Cancel
                </button>
                <button class="btn btn-primary btn-standard btn-spaced" type="button"
                  [disabled]="!userProfileForm.valid"
                  (click)="Save()">
                  <i class="fas fa-check"></i>
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-delay-spinner *ngIf="userProfileService.loading$ | async" [delayMessage]="'Loading...'"></app-delay-spinner>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #addUserContactDetailModal>
  <app-user-contact-detail-modal
  (actioned)="OnContactDetailModalActionAdd($event)"
  [contactDetails]="controls.contactDetails.value"
  >
  </app-user-contact-detail-modal>
</ng-template>

<ng-template #editUserContactDetailModal>
  <app-user-contact-detail-modal
  (actioned)="OnContactDetailModalActionEdit($event)"
  [contactDetail]="selectedContactDetail"
  [contactDetails]="controls.contactDetails.value"
  >
  </app-user-contact-detail-modal>
</ng-template>

<ng-template #deleteUserContactDetailModal>
  <app-cancel-action-modal [modalTitle]="'Confirm Contact Detail Delete'"
    [modalBody]="'Please confirm that you wish to delete this contact detail.'"
    (actioned)="OnDeleteContactDetailAction($event)">
  </app-cancel-action-modal>
</ng-template>

<ng-template #addUserFinanceDetailModal>
  <app-user-finance-detail-modal
  (actioned)="OnFinanceDetailModalActionAdd($event)"
  [financeDetails]="controls.bankDetails.value"
  >
  </app-user-finance-detail-modal>
</ng-template>

<ng-template #editUserFinanceDetailModal>
  <app-user-finance-detail-modal
  (actioned)="OnFinanceDetailModalActionEdit($event)"
  [financeDetail]="selectedFinanceDetail"
  [financeDetails]="controls.bankDetails.value"
  >
  </app-user-finance-detail-modal>
</ng-template>

<ng-template #deleteUserFinanceDetailModal>
  <app-cancel-action-modal [modalTitle]="'Confirm Finance Detail Delete'"
    [modalBody]="'Please confirm that you wish to delete this finance detail.'"
    (actioned)="OnDeleteFinanceDetailAction($event)">
  </app-cancel-action-modal>
</ng-template>

<ng-template #saveUserProfileModal>
  <app-cancel-action-modal [modalTitle]="'Confirm User Update'"
    [modalBody]="'Please confirm that you wish to update this user.'"
    (actioned)="OnSaveUserProfileAction($event)">
  </app-cancel-action-modal>
</ng-template>

<ng-template #cancelUserProfileModal>
  <app-cancel-action-modal [modalTitle]="'Cancel User Update'"
    [modalBody]="'Do you wish to cancel this user update? All changes will be lost.'"
    (actioned)="OnCancelModalAction($event)">
  </app-cancel-action-modal>
</ng-template>
