.user-row {
  border-radius: 0.25rem;
  color: #495057;
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 10px;
}

.table-row {
  border-radius: 0.25rem;
  color: #495057; 
  padding-left: 10px;
  padding-top: 10px;
}

.required-field::after {
  color: red;
  content: " *";
}

.table-contact-details {  
  background-color: #fff;
}

.table-contact-details th {  
  background-color:#0dadb7;
  color: white;
}

.table-contact-details td a {
  font-weight: bold;
}

.table-contact-details td button {
  color:#0dadb7;
  border-color:#0dadb7;;
}

.table-contact-details td button:hover {
  background-color: #0dadb7;
  border-color: #0dadb7;
  color: #fff;
}