<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12 offset-md-0">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <em class="fas fa-user fa-4x"></em>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">User Profile</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-body offset-md-1">
          <form [formGroup]="userProfileForm" novalidate>
            <div class="form-row user-row">
              <div class="required-field col-md-3 mb-3 text-left">
                <strong>Denotes mandatory field.</strong>
              </div>
            </div>
            <div class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Display name: </label>             
              </div>
              <div class="col-md-3">
                <input class="form-control" 
                  formControlName="displayName"
                  #displayName
                  id="displayName">
              </div>              
              <div class="col-md-2" *ngIf="isGPOrPsychiatrist">
                <label class="required-field">GMC Number: </label>             
              </div>
              <div class="col-md-2" *ngIf="isGPOrPsychiatrist">
                <input class="form-control" 
                  formControlName="gmcNumber"
                  #gmcNumber
                  id="gmcNumber">
              </div>
              <div class="col-md-1" *ngIf="isGPOrPsychiatrist">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="VerifyGMCNumber()"              
                >                
                  Verify
                </button>
              </div>               
            </div>
            <div *ngIf="!isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-2">
                <label>Organisation: </label>             
              </div>
              <div class="col-md-3">
              <label>{{userProfile.organisationName}}</label>
              </div>
            </div>
            <div class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Gender: </label>             
              </div>
              <div class="col-md-3">
                <select class="custom-select custom-select-lg mb-2 form-control" formControlName="genderTypeId"
                  #genderTypeId id="genderTypeId">                  
                  <option *ngFor="let gender of genderTypes" [value]="gender.id" [selected]="gender.id==genderTypeIdField.value">
                    {{gender.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-2" *ngIf="isGPOrPsychiatrist">
                <label>S12 Approved: </label>             
              </div>
              <div class="col-md-3" *ngIf="isGPOrPsychiatrist">
                <label>{{S12Status()}}</label>
              </div>
            </div>
            <div *ngIf="!isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Email: </label>             
              </div>
              <div class="col-md-3">
                <input class="form-control"
                  formControlName="emailAddress"
                  #emailAddress
                  id="emailAddress">
              </div>
            </div>
            <div *ngIf="!isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-2">
                <label [class]="MobileNumberIsMandatory() ? 'required-field' : ''">Mobile: </label>             
              </div>
              <div class="col-md-3">
                <input class="form-control"
                  formControlName="mobileNumber"
                  #mobileNumber
                  id="mobileNumber">
              </div>
            </div>
            <div *ngIf="!isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-2">
                <label>Telephone: </label>             
              </div>
              <div class="col-md-3">
                <input class="form-control"
                  formControlName="telephoneNumber"
                  #telephoneNumber
                  id="telephoneNumber">
              </div>
            </div>
            <div *ngIf="isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Specialities</label>
              </div>
              <div class="col-md-3">
                <ng-multiselect-dropdown 
                  formControlName="specialities" 
                  [settings]="dropdownSettings"
                  [data]="specialities" 
                  (onSelect)="OnItemSelect($event)" 
                  (onDeSelect)="OnItemDeselect($event)">
                </ng-multiselect-dropdown>
              </div>
              <div class="col-md-2" *ngIf="isGPOrPsychiatrist">
                <label>S12 Expiry Date: </label>             
              </div>
              <div class="col-md-3" *ngIf="isGPOrPsychiatrist">
                <label>{{userProfile.section12ExpiryDate | date: 'd MMMM yyyy'}}</label>
              </div>
            </div>            
            <div *ngIf="isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-2">
                <label class="required-field">Contact Details </label>             
              </div>
            </div>
            <div *ngIf="isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-10">
                <table class="table table-bordered table-sm table-contact-details">
                  <thead>
                    <tr>
                      <th class="text-center" 
                        scope="col"                         
                        columnType='string'>
                        Contact Detail
                      </th>
                      <th class="text-center" 
                        scope="col"                         
                        columnType='number'>
                        Address
                      </th>
                      <th class="text-center" 
                        scope="col"                         
                        columnType='string'>
                        Postcode
                      </th>
                      <th class="text-center" 
                        scope="col"                         
                        columnType='string'>
                        Telephone
                      </th>
                      <th class="text-center" 
                        scope="col"                         
                        columnType='string'>
                        Mobile
                      </th>                                      
                      <th class="sm-col text-center" scope="col">
                        &nbsp; &nbsp;
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="contact-detail-row" *ngFor="let contactDetail of userProfile.contactDetails">
                      <td>
                        <ngb-highlight result="{{contactDetail.name}}">
                        </ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight result="{{FullAddress(contactDetail)}}">
                        </ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight result="{{contactDetail.postcode}}">
                        </ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight result="{{contactDetail.telephoneNumber}}">
                        </ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight result="{{contactDetail.mobileNumber}}">
                        </ngb-highlight>
                      </td>                      
                      <td>
                        <button class="btn btn-outline-primary btn-small" (click)="EditContactDetail(contactDetail)">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-primary btn-small" (click)="DeleteContactDetail(contactDetail)">
                          <i class="fas fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-1 offset-md-9">
                <button class="btn btn-primary btn-standard btn-spaced" type="button" [disabled]="UserHasAllContactDetails()" (click)="AddContactDetail()">                  
                  Add
                </button>
              </div>
            </div>
            <div *ngIf="isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-2">
                <label>Bank Details Provided: </label>             
              </div>
              <div class="col-md-3">
                <label>{{VSRNumber() ? 'Yes' : 'No'}}</label>
              </div>
            </div>
            <div *ngIf="isGPOrPsychiatrist" class="form-row user-row">
              <div class="col-md-2">
                <label>VSR Number: </label>             
              </div>
              <div class="col-md-3">
                <label>{{VSRNumber()}}</label>
              </div>
            </div>
            <div class="form-row mt-more-2">              
              <div class="col-md-2 mb-2 {{isGPOrPsychiatrist ? 'offset-md-8' : 'offset-md-4'}} text-right">
                <button class="btn btn-standard btn-cancel" type="button" (click)="Cancel()">
                  <i class="far fa-times-circle"></i>
                  Cancel
                </button>
                <button class="btn btn-primary btn-standard btn-spaced" type="button"
                  (click)="Save()">
                  <i class="fas fa-check"></i>
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>