<div class="modal-header header-info">
  <h4 class="modal-title"><i class="fas fa-info-circle"></i> {{contactDetail ? "Edit" : "Add"}} Contact Detail</h4>
</div>
<div class="modal-body offset-md-1">
  <form [formGroup]="contactDetailForm" class="form-style" (ngSubmit)="SaveContactDetail()">
    <!-- Contact Detail Type -->
    <div class="form-row">
      <div class="col-md-10">        
        <div class="row" name="contactDetailTypeId">
          <div class="col-md-6">
            <label class="required-field" for="contactDetailTypeId">Contact Detail Type</label>
            <select
              class="custom-select custom-select-lg mb-2 form-control"
              formControlName="contactDetailTypeId"
              #contactDetailTypeId
              id="contactDetailTypeId"
            >              
              <option *ngFor="let item of contactDetailTypes"                 
                [selected]="item.id==controls.contactDetailTypeId.value"
                [value]="item.id"
              >
                {{item.name}}
              </option>
            </select>
          </div>      
        </div>                      
      </div>
    </div>
    <!-- Contact Detail Type Errors -->
    <div class="form-row" *ngIf="submitted && controls.contactDetailTypeId.errors">
      <div class="col-md-4 mb-2">
        <div
          class="invalid-field"
          *ngIf="controls.contactDetailTypeId.errors.required"
        >
          <span>* Contact detail type is required</span>
        </div>        
      </div>
    </div>
    <!-- Postcode -->
    <div class="form-row">
      <div class="col-md-10">
        <label class="required-field" for="postcode">Postcode</label>
        <div class="row" name="postcode">
          <div class="col-md-4">            
            <input
              type="search"
              maxlength="8"
              minlength="6"
              formControlName="postcode"
              #postcode
              id="postcode"
              oninput="this.value = this.value.toUpperCase()"              
              class="form-control"
              (input)="ClearAddress()"
              [ngClass]="{
                'is-invalid': controls.postcode.errors,
                'is-valid': !controls.postcode.errors
              }" 
              />
          </div>
          <div class="col-md-6">
            <div class="button-container">
              <button
                type="button"
                class="btn btn-primary"
                placement="top"
                ngbTooltip="Search for addresses"
                [openDelay]="1000"
                [closeDelay]="500"
                tooltipClass="subtle-tooltip"
                (click)="AddressSearch()"
                [disabled]="controls.postcode.errors && controls.postcode.errors.required"
              >
                <i class="fas fa-search-location"></i>
                {{ isSearchingForPostcode ? "Searching" : "Find" }}
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                  *ngIf="isSearchingForPostcode"
                >
                </span>
              </button>
              <button 
                type="button" 
                class="btn btn-primary btn-assessment btn-spaced" 
                placement="top"                
                ngbTooltip="Locate an address using an external web site"
                [openDelay]="1000" [closeDelay]="500" tooltipClass="subtle-tooltip" (click)="OpenLocationTab()">
                <i class="far fa-map"></i>
                Locate
              </button>
            </div>
          </div>       
        </div>
      </div>      
    </div>
    <!-- Postcode Errors -->
    <div class="form-row" *ngIf="controls.postcode.errors">
      <div class="col-md-4 mb-2">
        <div
          class="invalid-field"
          *ngIf="submitted && controls.postcode.errors.required"
        >
          <span>* Postcode is required</span>
        </div> 
        <div
          class="invalid-field"
          *ngIf="controls.postcode.errors.InvalidPostcode"
        >
          <span>* Invalid postcode</span>
        </div> 
        <div
          class="invalid-field"
          *ngIf="controls.postcode.errors.NoAddresses"
        >
          <span>* Please find addresses</span>
        </div> 
        <div
          class="invalid-field"
          *ngIf="controls.postcode.errors.NoResultsReturned"
        >
          <span>* No results returned</span>
        </div>        
      </div>
    </div>
    <!-- Address-->
    <div class="form-row" *ngIf="!controls.postcode.errors">
      <div class="col-md-10">
        <label class="required-field" for="address">Address</label>
        <select class="custom-select custom-select-lg form-control"           
          id="address"
          formControlName="address"
          #address  
          appFocusOnShow>
          <option *ngFor="let address of addressList; let i=index"
            [value]="addressList[i]"
            [disabled]="i===0"
          >
            {{addressList[i]}}
          </option>
        </select>
      </div>
    </div>
    <!-- Address Errors -->
    <div class="form-row" *ngIf="submitted && controls.address.errors">
      <div class="col-md-4 mb-2">
        <div
          class="invalid-field"
          *ngIf="!controls.postcode.errors && controls.address.errors.required"
        >
          <span>* Address is required</span>
        </div> 
        <div
          class="invalid-field"
          *ngIf="!controls.postcode.errors && controls.address.errors.SelectAddress"
        >
          <span>* Please select an address</span>
        </div>               
      </div>
    </div>    
    <!-- Latitude and Longitude -->
    <div class="form-row" *ngIf="controls.latitude.value && controls.longitude.value">
      <div class="col-md-10">
        <div class="row" name="coordinates">
          <div class="col-md-4">
            <label for="latitude">Latitude</label> 
            <input
              type="text"             
              class="form-control"   
              id="latitude"
              #latitude              
              formControlName="latitude"                     
            />
          </div>
          <div class="col-md-4">
            <label for="longitude">Longitude</label> 
            <input
              type="text"             
              class="form-control"   
              id="longitude"
              #longitude              
              formControlName="longitude"                      
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Email -->
    <div class="form-row">
      <div class="col-md-12">
        <div class="row" name="emailAddress">
          <div class="col-md-10">
            <label class="required-field" for="email">Email</label>                     
            <input
              type="text"             
              class="form-control"   
              id="emailAddress"
              #emailAddress              
              formControlName="emailAddress"           
            />
          </div>             
        </div>  
      </div>
    </div>
    <!-- Email Errors -->
    <div class="form-row" *ngIf="submitted && controls.emailAddress.errors">
      <div class="col-md-6 mb-2">
        <div
          class="invalid-field"
          *ngIf="controls.emailAddress.errors.required"
        >
          <span>* Email is required</span>
        </div> 
        <div
          class="invalid-field"
          *ngIf="controls.emailAddress.errors.email"
        >
          <span>* Email must be in the correct format</span>
        </div>        
      </div>
    </div>
    <!-- Telephone -->
    <div class="form-row">
      <div class="col-md-8">
        <div class="row" name="telephoneNumber">
          <div class="col-md-10">
            <label for="telephoneNumber">Telephone</label>                     
            <input
              type="text"             
              class="form-control"   
              id="telephoneNumber"
              #telephoneNumber              
              formControlName="telephoneNumber"           
            />
          </div>             
        </div>  
      </div>
    </div>
    <!-- Mobile -->
    <div class="form-row">
      <div class="col-md-8">
        <div class="row" name="mobileNumber">
          <div class="col-md-10">  
            <label for="mobileNumber">Mobile</label>                   
            <input
              type="text"             
              class="form-control"   
              id="mobileNumber"
              #mobileNumber              
              formControlName="mobileNumber"           
            />
          </div>             
        </div>  
      </div>
    </div>
    <div class="form-row mt-more-2">
      <div class="col-md-4 offset-md-6 text-right cancelOrSave">
        <button
          type="button"
          class="btn btn-standard btn-cancel"
          (click)="Cancel()"          
        >Cancel</button>
        <button
          type="submit"
          class="btn btn-primary btn-standard btn-spaced"          
        >Save</button>
      </div>
    </div>       
  </form>
</div>
