<ion-header>
  <ion-toolbar color="primary">        
    <ion-title slot="start">
      {{connection ? "Online" : "Offline"}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-card-content>
      <img src="../../../assets/img/icon.png" alt="Find Me An S12 Doctor" />
    </ion-card-content>
  </ion-card>
  <ion-card-header>

  </ion-card-header>
</ion-content>
