.logo {
  max-height: 75vh;
  margin: 0 auto;
}

.signin {
  margin: -20px auto;
}

.user-details {
  margin: auto;
  font-size: 1.1em;
  color: #777;
  padding-top: 5px;
 }

.centered {
  margin: 15px auto;
}

ion-col { text-align: center;}