<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">
      {{connection ? "Online" : "Offline"}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="isAuthenticated">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row *ngIf="!isAuthenticated">
      <img src="../../../assets/img/icon.png" alt="Find Me An S12 Doctor" class="logo" />
    </ion-row>
    <ion-row *ngIf="isAuthenticated">
      <ion-label>Hello you are now signed in</ion-label>
    </ion-row>
    <ion-row *ngIf="canUsePin && !isAuthenticated">
      <ion-col>
        <label color="primary" class="user-details">
          <ion-icon name="lock"></ion-icon>
          {{lastUser}}
        </label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="canUsePin && !isAuthenticated">
      <ion-button fill="outline" (click)="enterPin()" class="signin">
        <ion-icon name="keypad"></ion-icon>
        Enter PIN
      </ion-button>
    </ion-row>
    <ion-row *ngIf="!isAuthenticated">
      <ion-button fill="outline" *ngIf="!canUsePin" (click)="logIn()" class="signin top-space">
        <ion-icon name="log-in"></ion-icon>
        Sign In
      </ion-button>
      <ion-button fill="outline" *ngIf="canUsePin" (click)="switchUser()" class="signin top-space">
        <ion-icon name="swap"></ion-icon>
        Switch User
      </ion-button>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-tab-bar>
    <ion-text class="version">Version {{appVersion}}</ion-text>
  </ion-tab-bar>
</ion-footer>