.logo {
  max-height: 75vh;
  margin: 0 auto;
}

.signin {
  margin: auto;
  min-width: 200px;
}

ion-icon {
  margin-right: 10px;
}

.top-space {
  margin-top: 20px;
}

.user-details {
  margin: auto;
  font-size: 1.1em;
  color: #777;
  padding-top: 5px;
 }

.centered {
  margin: 15px auto;
}

.version {
  color: #999;
  font-size: 0.8em;
}

ion-col { text-align: center;}