<app-navbar title="Assessment Request"></app-navbar>

<ion-content>

  <ion-list>

    <ion-list-header>
      Assessment Request  
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h3 class="bold">Postcode</h3>
        <h3>{{assessmentRequest.postcode}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">{{assessmentRequest.isPlanned ? 'Scheduled' : 'Complete By'}}</h3>
        <h3>{{assessmentRequest.dateTime | date: "dd MMMM yyyy HH:mm"}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">AMHP</h3>
        <h3>{{assessmentRequest.amhpUserName}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Known Location</h3>
        <h3>{{expectedLocation}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Distance</h3>
        <h3>{{assessmentRequest.doctorDetails.distance | number:'.1-1'}} miles</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Further Information / Risks</h3>
        <h3 *ngFor="let detail of assessmentRequest.detailTypes">
          {{detail.name}}
        </h3>
      </ion-label>            
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-row>
      <ion-col
        *ngIf="assessmentRequest.doctorDetails.hasAccepted == null
        || !assessmentRequest.doctorDetails.hasAccepted
        || !assessmentRequest.doctorDetails.hasResponded"
      >
        <ion-button 
          (click)="acceptRequest()"
          color="success"
          expand="block"
        >
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Accept
        </ion-button>
      </ion-col>
      <ion-col
        *ngIf="assessmentRequest.doctorDetails.hasAccepted == null 
        || assessmentRequest.doctorDetails.hasAccepted
        || !assessmentRequest.doctorDetails.hasResponded"
      >
        <ion-button 
        (click)="declineRequest()"
        color="danger"
        expand="block"
        >
        <ion-icon name="close-circle-outline"></ion-icon> 
          Decline
        </ion-button> 
      </ion-col>
    </ion-row>

    
   
  </ion-toolbar>
</ion-footer>