<app-navbar title="Assessment Request"></app-navbar>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header color="primary">
        <strong></strong>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            Postcode: <strong>{{assessmentRequest.postcode}}</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Date / Time: <strong>{{assessmentRequest.dateTime | date: "dd/MM/yyyy HH:mm"}}</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Known Location {{assessmentRequest.doctorDetails.knownLocation.type}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Distance of <strong>{{assessmentRequest.doctorDetails.distance | number:'.1-1'}}</strong> miles
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Notes:
            <span *ngFor="let detail of assessmentRequest.detailTypes">
              {{detail.description}}
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            &nbsp;
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col 
            style="text-align: center;" 
            *ngIf="!assessmentRequest.doctorDetails.hasAccepted || !assessmentRequest.doctorDetails.hasResponded">
            <ion-button color="primary" (click)="acceptRequest()">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              Accept
            </ion-button>
          </ion-col>
          <ion-col
            style="text-align: center;"
            *ngIf="assessmentRequest.doctorDetails.hasAccepted || !assessmentRequest.doctorDetails.hasResponded">
            <ion-button color="primary" (click)="declineRequest()">
              <ion-icon name="close-circle-outline"></ion-icon>
              Decline
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>