.form-control.is-invalid{
  background-image: none;
  padding-right: 0.5em;
}

.form-control.is-valid{
  background-image: none;
  padding-right: 0.5em;
}

form {
  margin:10px;
}

.form-row {
  margin: 10px;
}

.sm-col {
  max-width: 80px;
}

.clickable {
  display: block;
  width: 100%;
  cursor: pointer;
  color: #495057;
  font-weight: 400 !important;
  font-size: 1.2em;
}

.referral-row:hover td:nth-child(n-4) {
  background-color: #b8dbf9;
}

.referral-row:hover td:nth-child(n+4) {
  background-color: #f7d7bb;
}

.table-referral-list {
  /* background-color:#6AB0ED; */
  background-color: #fff;
  font-size: smaller;
}

.table-referral-list th:nth-child(n-5) {
  /* background-color:#2891ED; */
  background-color:#0dadb7;
  color: white;
}

.table-referral-list th:nth-child(n+5) {
  /* background-color:#ED8428; */
  background-color:#0dadb7;
  color: white;
}

.table-referral-list td a {
  font-weight: bold;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before, th[sortable].asc:before {
  content: '';
  display: block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC') no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  float: right;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

th {
  border-top: 0;
}

.empty-table {
  color:#666;
  font-weight: 500;
}

.zero-responses {
  color: #495057;
  font-size: 1.2em;
}
