<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12 offset-md-0">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <em class="fas fa-th-list fa-4x"></em>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Referral List</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-body">
          <form novalidate>
            <div class="form-row">
              <div class="col-md-4">
                <label for="searchTerm">Referral search:</label>
                <input
                  class="form-control"
                  id="searchTerm"
                  type="text"
                  name="searchTerm"
                  [(ngModel)]="referralListService.searchTerm" />
              </div>
              <div class="col-md-2 offset-md-6 text-right mt-more-2">
                <a
                  href="/referral/new"
                  class="btn btn-primary"
                  aria-disabled="true"
                  placement="top"
                  ngbTooltip="Create a new referral"
                  [openDelay]="1000"
                  [closeDelay]="500"
                  tooltipClass="subtle-tooltip"
                >
                  <i class="fas fa-plus"></i>
                  Create Referral
                </a>
              </div>
            </div>
            <div class="form-row">
              <table class="table table-bordered table-sm table-referral-list">
                <thead>
                  <tr>
                    <th class="text-center" scope="col" sortable="referralId" (sort)="onSort($event)">
                      Referral Id
                    </th>
                    <th class="text-center" scope="col" sortable="patientIdentifier" (sort)="onSort($event)">
                      Patient Identifier
                    </th>
                    <th class="text-center" scope="col" sortable="leadAmhp" (sort)="onSort($event)">
                      Lead AMHP
                    </th>
                    <th class="sm-col text-center" scope="col" sortable="numberOfAssessmentAttempts" (sort)="onSort($event)">
                      Assessment Attempts
                    </th>
                    <th class="sm-col text-center" scope="col" sortable="assessmentLocationPostcode" (sort)="onSort($event)">
                      Assessment Postcode
                    </th>
                    <th class="text-center" scope="col" sortable="speciality" (sort)="onSort($event)">
                      Speciality
                    </th>
                    <th class="text-center" scope="col" sortable="timescale" (sort)="onSort($event)">
                      Timescale
                    </th>
                    <th class="text-center" scope="col" sortable="status" (sort)="onSort($event)">
                      Status
                    </th>
                    <th class="sm-col text-center" scope="col" sortable="responsesReceived" (sort)="onSort($event)">
                      Responses Received
                    </th>
                    <th class="sm-col text-center" scope="col" sortable="doctorsAllocated" (sort)="onSort($event)">
                      Doctors Allocated
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="referral-row" *ngFor="let referral of referralList$ | async">
                    <td class="text-center referral-link">
                      <a href="/referral/edit/{{referral.referralId}}" class="clickable">
                        <ngb-highlight [result]="referral.referralId" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td class="referral-link">
                      <a href="/referral/edit/{{referral.referralId}}" class="clickable">
                        <ngb-highlight [result]="referral.patientIdentifier" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td>
                      <a href="/referral/edit/{{referral.referralId}}" class="clickable">
                        <ngb-highlight [result]="referral.leadAmhp" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td class="text-center">
                      <a href="/assessment/edit/{{referral.currentAssessmentId}}" class="clickable">
                        <ngb-highlight [result]="referral.numberOfAssessmentAttempts" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td>
                      <a href="/assessment/edit/{{referral.currentAssessmentId}}" class="clickable">
                        <ngb-highlight [result]="referral.assessmentLocationPostcode" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td>
                      <a href="/assessment/edit/{{referral.currentAssessmentId}}" class="clickable">
                        <ngb-highlight [result]="referral.specialityName" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td>
                      <a href="/assessment/edit/{{referral.currentAssessmentId}}" class="clickable">
                        <ngb-highlight [result]="referral.timescale | date:'dd/MM/yyyy HH:mm'" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td>
                      <a href="/assessment/edit/{{referral.currentAssessmentId}}" class="clickable">
                        <ngb-highlight [result]="referral.statusName" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td class="text-center">
                      <a
                        href="/assessment/{{referral.currentAssessmentId}}/allocate-doctors"
                        class="clickable"
                        *ngIf="referral.responsesReceived > 0"
                      >
                        <ngb-highlight [result]="referral.responsesReceived" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                      <span *ngIf="referral.responsesReceived == 0">0</span>
                    </td>
                    <td class="text-center">
                      <a href="/assessment/edit/{{referral.currentAssessmentId}}" class="clickable">
                        <ngb-highlight [result]="referral.doctorsAllocated" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-row" style="text-align: center;">
            <div class="col-md-12 empty-table" *ngIf="!referralListService.loading$ && referralListService.total$.source._value === 0">
              There are currently no active referrals
            </div>
          </div>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="total$ | async" [(page)]="referralListService.page"
                [pageSize]="referralListService.pageSize">
              </ngb-pagination>
              <select class="custom-select" style="width: auto" name="pageSize"
                [(ngModel)]="referralListService.pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="9999999">All items</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-delay-spinner *ngIf="referralListService.loading$ | async" [delayMessage]="'Loading...'"></app-delay-spinner>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
