<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <em class="fas fa-search fa-4x"></em>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Select Doctor</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-body" *ngIf="assessment$ | async as assessment; else loading">
          <div class="assessment-details">
            <div class="row">
              <div class="col-md-3 label">
                Assessment To be Completed By:
              </div>
              <div class="col-md-4">
                {{assessment.dateTime | dateTimeFormat}}
              </div>
              <div class="col-md-2 label">
                Assessment Postcode:
              </div>
              <div class="col-md-3">
                {{assessment.postcode}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 label">
                Patient Identifier:
              </div>
              <div class="col-md-4">
                {{assessment.patientIdentifier}}
              </div>
              <div class="col-md-2 label">
                Speciality:
              </div>
              <div class="col-md-3">
                {{assessment.specialityName === null ? 'None' : assessment.specialityName}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 label">
                Lead AMHP:
              </div>
              <div class="col-md-4">
                {{assessment.leadAmhpName}}
              </div>
              <div class="col-md-2 label">
                Preferred Doctor Gender:
              </div>
              <div class="col-md-3">
                {{assessment.preferredDoctorGenderTypeName === null ? 'N/A' : assessment.preferredDoctorGenderTypeName}}
              </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">
                  AMHP:
                </div>
                <div class="col-md-4">
                  {{assessment.amhpName}}
                </div>
              </div>
            <div class="row">
              <div class="col-md-3 label">
                Doctors Selected:
              </div>
              <div class="col-md-4">
                <div *ngFor="let selected of assessment.doctorsSelected">
                  <span>{{selected.displayName}}</span>
                  <span class="gmcnumber">GMC#{{selected.gmcNumber}}</span>
                </div>
              </div>
              <div class="col-md-2 label">
                  Doctors Allocated:
                </div>
                <div class="col-md-3">
                  <div *ngFor="let allocated of assessment.doctorsAllocated">
                    <span>{{allocated.displayName}}</span>
                    <span class="gmcnumber">GMC#{{allocated.gmcNumber}}</span>
                  </div>
                </div>
            </div>
          </div>
          <form [formGroup]="doctorForm" novalidate>
            <div class="form-row ml-more-2">
              <button
                type="button"
                class="btn btn-primary"
                ngbTooltip="Select for doctors not registered with the FMAS12D application"
                placement="top"
                tooltipClass="subtle-tooltip"
                [closeDelay]="500"
                [openDelay]="1000"
                (click)="SearchDoctors()"
              >
                <em class="fas fa-user-plus"></em>
                Add System Registered Doctor
              </button>
            </div>
            <div class="form-row" style="margin-left:6px;">
              <div class="col-md-3 mb-2 ">
              <label for="selectDistance">Search Doctors within:</label>
                <select
                  class="browser-default custom-select"
                  formControlName="doctorDistance"
                  #doctorDistance
                  id="doctorDistance"
                >
                  <option value="1">1 Mile</option>
                  <option value="5">5 Miles</option>
                  <option value="10">10 Miles</option>
                  <option value="20">20 Miles</option>
                  <option value="30">30 Miles</option>
                  <option value="40">40 Miles</option>
                  <option value="1000">More than 40 Miles</option>
                </select>
              </div>
            </div>
            <!-- Search Doctor Errors -->
            <div class="form-row">
              <div class="col-md-8 mb-2">
                <span *ngIf="isDoctorSearching">searching...</span>
                <div class="invalid-field" *ngIf="hasDoctorSearchFailed">
                  Sorry, suggestions could not be loaded.
                </div>
              </div>
            </div>
            <app-delay-spinner [delayMessage]="'Retrieving Available Doctors'" *ngIf="isAvailableDoctorSearching"></app-delay-spinner>
            <div class="form-row" style="margin:10px; padding-top:10px; overflow: auto;">
              <table class="table table-bordered table-sm table-referral-list">
                <thead>
                  <tr>
                    <th class="text-center" scope="col" sortable="name" (sort)="OnSort($event)">
                      Name
                    </th>
                    <th class="text-center" scope="col" sortable="genderName" (sort)="OnSort($event)">
                      Gender
                    </th>
                    <th class="text-center" scope="col" sortable="type" (sort)="OnSort($event)">
                      Type
                    </th>
                    <th class="text-center" scope="col" sortable="section12ApprovalStatusName" (sort)="OnSort($event)">
                      S12 Status
                    </th>
                    <th class="text-center" scope="col" sortable="section12ExpiryDate" (sort)="OnSort($event)">
                      S12 Expiry Date
                    </th>                    
                    <th class="text-center" scope="col" sortable="specialityNames" (sort)="OnSort($event)">
                      Speciality
                    </th>
                    <th class="text-center sm-col" scope="col" sortable="activeAssessments" (sort)="OnSort($event)">
                      Scheduled Assessments
                    </th>
                    <th class="text-center" scope="col" sortable="start" (sort)="OnSort($event)">
                      Availability
                    </th>
                    <th class="text-center sm-col" scope="col" sortable="distance" (sort)="OnSort($event)">
                      Distance (miles)
                    </th>
                    <th class="text-center" scope="col">
                      Select
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let availableDoctor of availableDoctors">
                    <td>
                      {{availableDoctor.name}}
                    </td>
                    <td>
                      {{availableDoctor.genderName}}
                    </td>
                    <td>
                      {{availableDoctor.type}}
                    </td>
                    <td>
                      {{availableDoctor.section12ApprovalStatusName}}
                    </td>
                    <td>
                      {{availableDoctor.section12ExpiryDate | date:'dd/MM/yyyy'}}
                    </td>
                    <td>
                      <span *ngFor="let speciality of availableDoctor.specialityNames; last as isLast">
                        {{speciality}}<span *ngIf="!isLast">, </span>
                      </span>
                    </td>
                    <ng-template #tipContent>
                      <div class="assessment-tooltip" *ngFor="let assessment of availableDoctor.activeAssessments">
                        <span>{{assessment.isScheduled === true ? 'Scheduled' : 'Allocated'}}</span>
                        {{assessment.postcode}} @ {{assessment.dateTime | dateTimeFormat}}
                      </div>
                    </ng-template>
                    <td class="text-center sm-col">
                      <em
                        class="fas fa-calendar-check scheduled"
                        *ngIf="availableDoctor.activeAssessments.length > 0"
                        [ngbTooltip]="tipContent"
                        placement="right"
                        tooltipClass="subtle-tooltip"
                        [closeDelay]="500" [openDelay]="500"
                        ></em>
                    </td>
                    <td class="text-center">
                      {{availableDoctor.start | timeOnlyFormat}} - {{availableDoctor.end | timeOnlyFormat}}
                    </td>
                    <td class="text-center sm-col">
                      {{availableDoctor.distance | number: '1.1-1'}}
                    </td>
                    <td class="checkmark-content text-center sm-col" style="position: relative">
                      <label class="container">
                        <input
                          class=""
                          type="checkbox"
                          checked={{availableDoctor.isSelected}}
                          (change)="ToggleSelection(availableDoctor.id, $event)"
                        />
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="empty-table" *ngIf="availableDoctors.length == 0">
                No available doctors found within search radius
              </div>
            </div>
            <div class="form-row ml-more-2 mr-more-2">
              <div class="col-md-2" >
                <ngb-pagination
                  *ngIf="availableDoctors.length > 0"
                  [collectionSize]="collectionSize"
                  (pageChange)="PageChanged($event)"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [maxSize]=5>
                </ngb-pagination>
              </div>
              <div class="col-md-4">
                <select
                  class="custom-select"
                  formControlName="pageSize"
                  *ngIf="availableDoctors.length > 0"
                >
                  <option value="5">5 items per page</option>
                  <option value="10" selected=true>10 items per page</option>
                  <option value="20">20 items per page</option>
                </select>
              </div>
              <div class="col-md-6 text-right">
                  <button
                  type="button"
                  class="btn btn-standard btn-cancel"
                  (click)="Cancel()"
                  >
                  <em class="fas fa-arrow-left"></em>
                  Assessment
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-standard"
                  (click)="UpdateSelectedDoctors()"
                  [disabled]="selectedDoctors.length === 0"
                >
                  <em class="far fa-check-circle"></em>
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<app-delay-spinner [delayMessage]="'Updating Selected Doctors'" *ngIf="isSavingSelection"></app-delay-spinner>

<ng-template #loading>
  <app-delay-spinner [delayMessage]="'Retrieving assessment data'"></app-delay-spinner>
</ng-template>

<ng-template #cancelSelection>
    <app-cancel-action-modal
      [modalTitle]="'Cancel Doctor Selection'"
      [modalBody]="'Do you wish to cancel this doctor selection? All changes will be lost.'"
      (actioned)="OnCancelModalAction($event)"
    >
    </app-cancel-action-modal>
  </ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
