<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <i class="fas fa-search fa-4x"></i>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Select Doctor</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-header-details">
        </div>
        <div class="card-body">
          <form [formGroup]="doctorForm" novalidate>
            <!-- Search Doctor -->
            <div class="form-row">
              <div class="col-md-4 mb-2">
                <label for="searchDoctor">Search Doctor</label>
                <input 
                  type="text" class="form-control" id="searchDoctor" #searchDoctor
                  [class.is-invalid]="hasDoctorSearchFailed" formControlName="searchDoctor"
                  [ngbTypeahead]="DoctorSearch" [resultFormatter]="FormatTypeAheadResults"
                  [inputFormatter]="FormatTypeAheadResults"
                />
              </div>
              <div class="col-md-2 centered-div" style="justify-content: left;">
                <div class="col-md-2 mb-2 text-right" style="margin-top: 10px">
                  <a aria-disabled="true" class="btn btn-primary vcenter" 
                    ngbTooltip="Confirm search" placement="right" role="button" routerLink="" 
                    routerLinkActive="active" tooltipClass="subtle-tooltip"
                    [closeDelay]="500" [openDelay]="1000">
                    Confirm
                  </a>
                </div>
              </div>
              <div class="col-md-6 mb-2">
              <label for="selectDistance">Doctors within:</label>
                <select class="browser-default custom-select">
                  <option selected id="selectDistance">select distance from patient</option>
                  <option value="1">1 Mile</option>
                  <option value="2">5 Miles</option>
                  <option value="3">10 Miles</option>
                </select>
              </div>
            </div>
            <!-- Search Doctor Errors -->
            <div class="form-row">
              <div class="col-md-8 mb-2">
                <span *ngIf="isDoctorSearching">searching...</span>
                <div class="invalid-field" *ngIf="hasDoctorSearchFailed">
                  Sorry, suggestions could not be loaded.
                </div>
              </div>
            </div>
            <div class="form-row mt-less-1" *ngIf="doctorField.errors">
              <div class="col-md-12">
                <div *ngIf="doctorField.errors.InvalidDoctor" class="invalid-field">
                  <span>* Invalid Doctor </span>
                </div>
              </div>
            </div>
            <div class="form-row" style="padding-top:10px; overflow: auto;">
              <table class="table table-bordered table-sm table-referral-list">
                <thead>
                  <tr>
                    <th scope="col" sortable="referralId" (sort)="onSort($event)">
                      Referral Id
                    </th>
                    <th scope="col" sortable="patientDetails" (sort)="onSort($event)">
                      Patient Details
                    </th>
                    <th scope="col" sortable="leadAmhp" (sort)="onSort($event)">
                      Lead AMHP
                    </th>
                    <th scope="col" sortable="locationPostcode" (sort)="onSort($event)">
                      Location Postcode
                    </th>
                    <th scope="col" sortable="speciality" (sort)="onSort($event)">
                      Speciality
                    </th>
                    <th scope="col" sortable="urgencyLevel" (sort)="onSort($event)">
                      UrgencyLevel
                    </th>
                    <th scope="col" sortable="doctorsAllocated" (sort)="onSort($event)">
                      Doctors Allocated
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="">
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-row" style="padding-top:10px; overflow: auto;">
              <table class="table table-bordered table-sm table-referral-list">
                <thead>
                  <tr>
                    <th scope="col" sortable="referralId" (sort)="onSort($event)">
                      Doctor
                    </th>
                    <th scope="col" sortable="gender" (sort)="onSort($event)">
                      Gender
                    </th>
                    <th scope="col" sortable="doctorType" (sort)="onSort($event)">
                      Doctor Type
                    </th>
                    <th scope="col" sortable="speciality" (sort)="onSort($event)">
                      Speciality
                    </th>
                    <th scope="col" sortable="scheduledAssessment" (sort)="onSort($event)">
                      Scheduled Assessment
                    </th>
                    <th scope="col" sortable="availability" (sort)="onSort($event)">
                      Availability
                    </th>
                    <th scope="col" sortable="distance" (sort)="onSort($event)">
                      Distance
                    </th>
                    <th scope="col" sortable="select" (sort)="onSort($event)">
                      Select
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="">
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">

                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="assessmentListService.searchTerm">
                        
                      </ngb-highlight>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-delay-spinner [delayMessage]="''"></app-delay-spinner>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>