<app-navbar></app-navbar>

<ion-content>
  <ion-grid>
    <ion-header>
      <ion-toolbar>
        <ion-title>AMHP Assessment Update</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label>Last Updated:</ion-label>
      <ion-label>{{assessmentLastUpdated | date: "dd/MM/yyyy HH:mm:ss"}}</ion-label>
    </ion-item>
    <ion-card>
      <ion-card-header color="primary">
        Referral Id: <strong>{{assessmentView ? assessmentView.referralId : ""}}</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            Patient Id: <strong>{{assessmentView ? assessmentView.patientIdentifier : ""}}</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-select interface="action-sheet" placeholder="Assessment Status" [(ngModel)]="assessmentStatusId">
              <ion-select-option *ngFor="let assessmentStatus of assessmentStatusList" [value]="assessmentStatus.id">
                <ion-label>{{assessmentStatus.name}}</ion-label>
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            &nbsp;
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-label offset="1">
            <strong>Confirm attending doctors</strong>
          </ion-label>
        </ion-row>
        <ion-row *ngIf="assessmentView?.doctorsAllocated?.length > 0">
          <ion-col>
            <ion-list>
              <div *ngFor="let doctor of assessmentView.doctorsAllocated">
                <ion-row style="width:100%">
                  <ion-col size="9">
                    <ion-row><strong>{{doctor.displayName}}</strong></ion-row>
                    <ion-row>GMC number: <strong>{{doctor.gmcNumber}}</strong></ion-row>
                  </ion-col>
                  <ion-col>
                    <ion-toggle [(ngModel)]="doctor.attended"></ion-toggle>
                  </ion-col>
                </ion-row>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="assessmentStatusId >= 0">
          <ion-col>
            <ion-button expand="block" color="primary" (click)="confirmSave()">Save</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>