<app-navbar title="AMHP Assessment Update" lastUpdated={{assessmentLastUpdated}}></app-navbar>

<ion-content fullscreen>

  <ion-list>

    <ion-list-header>
      Assessment Outcome  
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h3 class="bold">Patient Identifier</h3>
        <h3>{{assessmentView ? assessmentView.patientIdentifier : ""}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Assessment Status</h3>
      </ion-label>
      <ion-select interface="action-sheet" placeholder="Assessment Status" [(ngModel)]="assessmentStatusId">
        <ion-select-option *ngFor="let assessmentStatus of assessmentStatusList" [value]="assessmentStatus.id">
          <ion-label>{{assessmentStatus.name}}</ion-label>
        </ion-select-option>
      </ion-select>            
    </ion-item>

    <ion-list-header>
      Confirm Attending Doctors  
    </ion-list-header>

    <ion-item *ngFor="let doctor of assessmentView.doctorsAllocated">
      <ion-label>
        <h3>{{doctor.displayName}}</h3>
        <h3>{{doctor.gmcNumber}}</h3>
      </ion-label>
      <ion-checkbox [(ngModel)]="doctor.attended" color="primary"></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-tab-bar>
    <ion-tab-button 
      *ngIf="assessmentView?.canUpdateOutcome"
      (click)="confirmSave()"
      [disabled]="assessmentStatusId == null"
    >
      <ion-icon color="primary" name="checkmark-circle-outline"></ion-icon>
      <ion-label color="primary">Save</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>