<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label class="assessment-last-updated">
          Last Updated: {{assessmentLastUpdated | date: "dd/MM/yyyy HH:mm:ss"}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label><strong>Referral Id: </strong>{{assessmentView ? assessmentView.referralId : ""}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <strong>Patient Id: </strong>{{assessmentView ? assessmentView.patientIdentifier : ""}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label><strong>Assessment Successful?</strong></ion-label>
          <ion-toggle [(ngModel)]="assessmentSuccessful"></ion-toggle> 
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!assessmentSuccessful">
      <ion-col>
        <ion-item>
          <ion-select 
            class="unsuccessful-assessment-type" 
            interface="action-sheet" 
            placeholder="Unsuccessful Assessment Type"
            [(ngModel)]="unsuccessfulAssessmentTypeId">
            <ion-select-option 
              *ngFor="let unsuccessfulAssessmentType of unsuccessfulAssessmentTypeList"
              [value]="unsuccessfulAssessmentType.id">
              <ion-label>{{unsuccessfulAssessmentType.name}}</ion-label>
            </ion-select-option>           
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="assessmentView?.doctorsAllocated?.length > 0">
      <ion-col>
        <ion-list>
          <ion-list-header>Confirm attending doctors</ion-list-header>
          <div *ngFor="let doctor of assessmentView.doctorsAllocated">
            <ion-item>
              <ion-label><strong>{{doctor.displayName}}</strong></ion-label>
              <ion-toggle [(ngModel)]="doctor.attended"></ion-toggle>              
            </ion-item>
            <ion-item>
              <ion-label><strong>GMC number: </strong>{{doctor.gmcNumber}}</ion-label>
            </ion-item>            
          </div>
          
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="assessmentSuccessful || unsuccessfulAssessmentTypeId">
      <ion-col offset="5">
        <ion-icon name="save" (click)="confirmSave()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
