<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="referral$ | async as referral; else loading">
        <div class="card-header">
          <div class="card-icon">
            <i class="fas fa-file-alt fa-4x"></i>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">View Referral Assessment History</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-header-details">
          <div class="flex-item">
            Referral Id: <strong>{{referral.id}}</strong>
          </div>
          <div class="flex-item">
            Patient Identifier: <strong>{{referral.patientIdentifier}}</strong>
          </div>
          <div class="flex-item">
            Lead AMHP: <strong>{{referral.leadAmhp}}</strong>
          </div>
          <div class="flex-item">
            Referral Status: <strong>{{referral.statusName}}</strong>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="currentAssessmentForm" novalidate>
            <div class="form-row">
              <div class="col-md-12">
                <label for="amhpUserName">AMHP User Name</label>
                <input
                  class="form-control"
                  formControlName="amhpUserName"
                  id="amhpUserName"
                  type="text"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-9">
                  <label for="fullAddress">Assessment Address</label>
                  <input
                    class="form-control"
                    formControlName="fullAddress"
                    id="fullAddress"
                    type="text"
                  />
                </div>
              <div class="col-md-3">
                <label for="postCode">Post Code</label>
                <input
                  class="form-control"
                  formControlName="postCode"
                  id="postCode"
                  type="text"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <label for="meetingArrangementComment">Meeting Arrangement Comment</label>
                <input
                  class="form-control"
                  formControlName="meetingArrangementComment"
                  id="meetingArrangementComment"
                  type="text"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4">
                <label for="mustBeCompletedBy">{{showDateTitle}}</label>
                <input
                  class="form-control"
                  formControlName="mustBeCompletedBy"
                  id="mustBeCompletedBy"
                  type="text"
                />
              </div>
              <div class="col-md-4">
                <label for="preferredDoctorGenderTypeName">Preferred Doctor Gender</label>
                <input
                  class="form-control"
                  formControlName="preferredDoctorGenderTypeName"
                  id="preferredDoctorGenderTypeName"
                  type="text"
                />
              </div>
              <div class="col-md-4">
                <label for="specialityName">Speciality</label>
                <input
                  class="form-control"
                  formControlName="specialityName"
                  id="specialityName"
                  type="text"
                />
              </div>
              <div class="col-md-12">
                <label for="assessmentDetails">Assessment Details</label>
                <div class="read-only">
                  <div *ngFor="let detail of referral.currentAssessment.detailTypes">
                    {{detail.description}}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row" *ngIf="!referral.currentAssessment.hasOutcome">
              <div class="col-md-6">
                <label for="doctorNamesAccepted">Doctors Selected</label>
                <div class="read-only">
                  <div *ngFor="let doctor of referral.currentAssessment.doctorsSelected;">
                    <div class="row">
                      <div class="col-md-8 doctor-name">
                        {{doctor.displayName}}
                        <span class="gmc-number">GMC# {{doctor.gmcNumber}}</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="referral.currentAssessment.doctorsSelected.length == 0">
                    <div class="row">
                      <div class="col-md-8 doctor-name">
                        None
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="doctorNamesAllocated">Doctors Allocated</label>
                <div class="read-only">
                  <div *ngFor="let doctor of referral.currentAssessment.doctorsAllocated;">
                    <div class="row">
                      <div class="col-md-8 doctor-name">
                        {{doctor.displayName}}
                        <span class="gmc-number">GMC# {{doctor.gmcNumber}}</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="referral.currentAssessment.doctorsAllocated.length == 0">
                    <div class="row">
                      <div class="col-md-8 doctor-name">
                        None
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row" *ngIf="referral.currentAssessment.hasOutcome">
              <div class="col-md-4">
                <label>Assessment Successful?</label>
                <div class="read-only">
                  {{referral.currentAssessment.isSuccessful === true ? 'Yes' : 'No'}}

                </div>
              </div>
              <div class="col-md-4" *ngIf="referral.currentAssessment.isSuccessful === false">
                <label>Unsuccessful Reason</label>
                <div class="read-only">
                  {{referral.currentAssessment.unsuccessfulAssessmentTypeName}}
                </div>
              </div>
              <div class="col-md-4">
                <label for="completedAt">Completed Date / Time</label>
                <input
                  class="form-control"
                  formControlName="completedAt"
                  id="completedAt"
                  type="text"
                />
              </div>
            </div>
            <div class="form-row" *ngIf="referral.currentAssessment.hasOutcome">
              <div class="col-md-6">
                <label for="doctorNamesAccepted">Doctors Attended</label>
                <div class="read-only">
                  <div *ngFor="let doctor of referral.currentAssessment.doctorsAttended;">
                    <div class="row">
                      <div class="col-md-8 doctor-name">
                        {{doctor.displayName}}
                        <span class="gmc-number">GMC# {{doctor.gmcNumber}}</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="referral.currentAssessment.doctorsAttended.length == 0">
                    <div class="row">
                      <div class="col-md-8 doctor-name">
                        None
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row mt-more-2">
              <div class="col-md-3 mb-2">
                <button
                  class="btn btn-outline btn-fill btn-spaced"
                  type="button"
                  (click)="CloseReferralConfirmation()"
                >
                  <i class="fas fa-check-double"></i>
                  Close Referral
                </button>
              </div>
              <div class="col-md-3 mb-2">
                <button
                  class="btn btn-primary btn-spaced"
                  type="button"
                  (click)="CompleteReviewConfirmation()"
                  *ngIf="isInReviewState"
                >
                  <i class="fas fa-clipboard-check"></i>
                  Complete Review
                </button>
              </div>
              <div class="col-md-3 mb-2 offset-md-3 text-right">
                <button class="btn btn-standard btn-cancel" type="button" (click)="CancelView()">
                  <i class="far fa-times-circle"></i>
                  Cancel
                </button>
                <button
                  class="btn btn-primary btn-standard btn-spaced"
                  type="button"
                  (click)="EditAssessment()"
                  *ngIf="!referral.currentAssessment.hasOutcome"
                >
                  <i class="far fa-edit"></i>
                  Edit
                </button>
              </div>
            </div>
            <label>Assessment History</label>
            <div class="form-row" *ngIf="referral.previousAssessments.length == 0">
              <span class="no-previous">No previous assessments recorded</span>
            </div>
            <div class="form-row" style="padding-top:10px; overflow: auto;" *ngIf="referral.previousAssessments.length > 0">
              <table class="table table-bordered table-sm table-referral-list">
                <thead>
                  <tr>
                    <th scope="col" sortable="dateTime" (sort)="onSort($event)">Scheduled Date/Time</th>
                    <th scope="col" sortable="assessmentPostcode" (sort)="onSort($event)">Postcode</th>                    
                    <th scope="col" sortable="assessmentStatus" (sort)="onSort($event)">Status</th>
                    <th scope="col" sortable="reason" (sort)="onSort($event)">Reason</th>
                    <th scope="col" sortable="leadAmhp" (sort)="onSort($event)">Lead AMHP</th>
                    <th scope="col" sortable="amhp" (sort)="onSort($event)">AMHP</th>
                    <th scope="col" sortable="doctorsAllocated" (sort)="onSort($event)">Doctors Attended</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let assessment of referral.previousAssessments">
                    <td>
                      <ngb-highlight [result]="assessment.scheduledTime" ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="assessment.postcode" ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="assessment.isSuccessful" ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="assessment.unsuccessfulAssessmentTypeName" ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="assessment.leadAmhpUserName" ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="assessment.amhpUserName" ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="assessment.doctorAttendedNames" ></ngb-highlight>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between p-2" *ngIf="referral.previousAssessments.length > 0">
              <ngb-pagination [collectionSize]="" [pageSize]=""></ngb-pagination>
              <select class="custom-select" style="width: auto" name="pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="9999999">All items</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmClosure>
  <app-cancel-action-modal
    [modalTitle]="'Confirm Referral Closure'"
    [modalBody]="'Please confirm that the referral can be closed.'"
    (actioned)="OnModalAction($event)"
  >
  </app-cancel-action-modal>
</ng-template>

<ng-template #confirmCompletion>
  <app-cancel-action-modal
    [modalTitle]="'Confirm Review Completion'"
    [modalBody]="'Please confirm that the review is now complete.'"
    (actioned)="OnCompletionModalAction($event)"
  >
  </app-cancel-action-modal>
</ng-template>

<ng-template #loading>
  <app-delay-spinner [delayMessage]="'Retrieving referral data'"></app-delay-spinner>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
