<div class="modal-header header-info">
  <h4 class="modal-title"><i class="fas fa-info-circle"></i> Claim Export Confirmation</h4>
</div>
<div class="modal-body">

  <h4>Clicking <strong>Export</strong> will create export files for <strong>{{exportingCcgs.length}}</strong> CCGs</h4>
  <br/>
  <ul>
    <li *ngFor="let ccg of exportingCcgs">{{ccg.name}}</li>
  </ul>
  <br/>
  <h4 class="warning" *ngIf="previouslyExported && previouslyExported > 0"><i class="fas fa-exclamation-triangle"></i>&nbsp;<strong>{{previouslyExported}}</strong> claims have already been exported</h4>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-cancel" (click)="modalAction(false)">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" (click)="modalAction(true)">
    Export
  </button>
</div>
