.dropdown-menu {
  min-width: 15rem;
}

.dropdown-menu ul {
  list-style-type: none;
}

.dropdown-menu ul li label {
  margin-top: 0;
}

.clear-btn {
  text-align: right;
}

.filtered {
  border-bottom: 3px solid#0dadb7;
  font-weight: 600;
}

.full-height {
  height: 100%;
  display: flex;
}

.middle {
  align-items: center;
}
