/* You can add global styles to this file, and also import other style files */

body {
  background-color: #dae2ef;
}

.page-content {
  margin: 0 10%;
  min-height:100px;
}

.invalid-field{ color: #f00; font-weight: 600;}

label {
  color:#666;
  font-weight: 500;
  margin-bottom: -10px;
  margin-top: 10px;
  margin-left: 5px;
}

.form-control {
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 1.2em;
}

.form-control:focus{
  color: #666;
}

.form-control:disabled {
  background-color:#ddd;
}

.subtle-tooltip .tooltip-inner {
  background-color: #0db3bf;
}

.subtle-tooltip .arrow::before {
  border-right-color: #0db3bf;
}

.reduced-top-margin {
  margin-top: -10px;
}

.card {
  border: 1px solid #ddd;
  background-color: #fff;
}

.card-body {
  padding:0 0 1.5rem 0;
}

.card-title {
  color: #fff;
}

.card-header {
  background-color: #0dadb7;
  margin-top: 0 !important;
  height: 90px;
}

.card-subtitle {
  color: #ddd !important;
}

.card-icon {
  float:left;
  margin-right: 20px;
  color: #fff;
}

.card-header-text {
  float:left;
  height:100px !important;
  margin-top: 8px;
}

.card-header-text h6 {
  margin-top: -10px;
}

.card-header-details {
  background-color: #0dadb7;
  padding:10px;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-item {
 margin-right: 20px;
}

.flex-grow {
  flex: 1;
}

.modal-header, .modal-body {
  color: #495057;
}

.centered {
  text-align: center;
}

.standard-button {
  width: 100px;
}

.centered-div {
  height: 100px;
  position: relative;
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
}

/** change primary colour **/
.btn-primary {
  background-color: #0dadb7;
  border-color: #0c9da7;
}

.btn-primary:disabled {
  background-color: #497679;
  border-color: #497679;
  color: #ccc;
}

.btn-primary:hover {
  background-color: #0a868f;
  border-color: #0c9da7;
}

/** modals **/

.header-danger {
  background-color: #ff4444;
  color: #fff;
}

.header-success {
  background-color: #007e33;
  color: #fff;
}

.header-info {
  background-color: #0db3bf;
  color: #fff;
}

.header-warning {
  background-color: #ffbb33;
  color: #fff;
}

/** TypeAhead **/
.dropdown-item.active {
  background-color: #0a868f;
}

.column-div {
  width: 100%;
  height:100%;
  position: relative;
}

.column-div span {
  position: absolute;
  bottom:20px;
  left: 40%;
  text-align: center;
  font-weight: 500;
  color: #666;
}

.column-div button {
  position: absolute;
  bottom:12px;
  left: 10%;
}

.column-div button .spinner-border {
  position: absolute;
  left: 5px;
  bottom: 10px;
  color: #eee;
  padding-right: 5px;
}

.validating {
  min-width: 130px;
}


.less-top-space {
  margin-top: -30px;
}

.calendar {
  margin-top: 2px;
  background-color: #0db3bf;
  color: #fff;
  border: none;
}

.calendar:hover {
  background-color: #0a868f;
  border-color: #0c9da7;
}

.calendar:disabled {
  background-color: #497679;
  border-color: #497679;
  color: #ccc;
}

.btn.btn-link {
  color: #0db3bf;
}

/* dropdown multi select */

.selected-item {
  background-color: #0db3bf !important;
  border: 1px solid #fff !important;
}

.multiselect-item-checkbox input[type=checkbox] + div:before {
  border-color: #0db3bf !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background-color: #0db3bf !important;
}

.multiselect-dropdown .dropdown-btn {
  color: #fff; font-weight: 600!important;
  border: 1px solid #ced4da !important;
}

/* checkmark */

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #777;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ced4da;
}

/* Hide the browser's default checkbox */
.container input, .container input:disabled {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0dadb7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark-content {
  padding: 10px;
  position: absolute;
  bottom: -10px;
  margin-left: 15px;
}

.checkmark-content.less-space {
  bottom: 0;
}

.btn-cancel {
  color: #666;
  border: 1px solid #666;
}

.btn-cancel:hover {
  background-color: #dadada;
}


.centered-div {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.or {
  font-weight:600;
  color: #666;
}

/** margin classes in half rems**/
.mt-less-1 {
  margin-top: -0.5rem !important;
}

.mt-less-2 {
  margin-top: -1rem !important;
}

.mt-less-5 {
  margin-top: -2.5rem !important;
}

.ml-less-2 {
  margin-left: -1rem !important;
}

.mt-more-2 {
  margin-left: 1rem !important;
}
