/* You can add global styles to this file, and also import other style files */

body {
  background-color: #eee;
}

.page-content {
  margin: 0 10%;
  min-height:100px;
}

.invalid-field{ color: #f00;}

label {
  color:#666;
  font-weight: 500;
  margin-bottom: -10px;
  margin-top: 10px;
  margin-left: 5px;
}

.form-control {
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 1.2em;
}

.form-control:focus{
  color: #666;
}

.form-control:disabled {
  background-color:#ddd;
}

.subtle-tooltip .tooltip-inner {
  background-color: #3396ff;
}

.subtle-tooltip .arrow::before {
  border-right-color: #3396ff;
}

.reduced-top-margin {
  margin-top: -10px;
}
