form {
  margin:20px;
}

.btn-exam {
  min-width: 100px;
  margin-top: 10px;
}

.btn-spaced {
  margin-left: 10px;
}

.button-container {
  display:flex;
  align-items: center;
  height: 100%;
}

.additional-details {
  resize: none;
}

.xcheckmark-content {
  position: relative;
  margin-left: 5px;
  padding: 0;
  bottom: 0;
}

.checkmark-content {
  bottom: 8px;
}

