form {
  margin:20px;
}

.btn-exam {
  margin-top: 10px;
  min-width: 100px;
}

.btn-spaced {
  margin-left: 10px;
}

.button-container {
  align-items: center;
  display:flex;
  height: 100%;
}

.additional-details {
  resize: none;
}

.checkmark-content {
  bottom: 8px;
  margin-left: 0;
  padding-left: 0;
  z-index: 100;
}

.btn-standard {
  min-width: 100px;
}

