<!-- standard navbar -->
<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <i class="fas fa-folder-plus fa-4x" style="color:#fff;"></i>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Create New Examination</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-header-details">
          <div class="row">
            <div class="col-md-4">
              Referral Id: <strong>{{referral.id}}</strong>
            </div>
            <div class="col-md-4">
              Patient Id: <strong>{{referral.patient.patientIdentifier | uppercase}}</strong>
            </div>
            <div class="col-md-4">
              Lead AMHP: <strong>{{referral.leadAmhpUser.displayName}}</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>

  <ng-template #dangerToast let-toastMessage>
    <app-danger-toast [toastMessage]='dangerMessage'></app-danger-toast>
  </ng-template>

  <app-delay-spinner [delayMessage]="'Retrieving referral data'" *ngIf="isRetrievingReferralData"></app-delay-spinner>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

</div>
