<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12 offset-md-0">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <em class="far fa-file-alt fa-4x"></em>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Assessment Claims</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-body">

          <form>
            <div class="form-row">
              <div class="col-md-4">
                <label for="searchTerm">Filter by Keyword:</label>
                <input
                  class="form-control"
                  id="searchTerm"
                  type="search"
                  name="searchTerm"
                  [(ngModel)]="claimsService.searchTerm" />
                <small class="form-text text-muted">The table can be filtered by typing into the box above</small>
              </div>

              <div class="col-md-2">
                <app-list-filter
                  [filterList]=claimsService.activeCcgs
                  [filtering]=claimsService.filteringOnCcg
                  [service]=claimsService
                  title='CCG'
                  >
                </app-list-filter>
              </div>

              <div class="col-md-2">
                <app-list-filter
                  [filterList]=claimsService.activeClaimants
                  [filtering]=claimsService.filteringOnClaimant
                  [service]=claimsService
                  title='Claimant'
                  >
                </app-list-filter>
              </div>

              <div class="col-md-2">
                <app-list-filter
                  [filterList]=claimsService.activeStatuses
                  [filtering]=claimsService.filteringOnStatus
                  [service]=claimsService
                  title='Status'
                  >
                </app-list-filter>
              </div>

              <div class="col-md-2">
                <app-list-filter
                  [filterList]=claimsService.activeExported
                  [filtering]=claimsService.filteringOnExported
                  [service]=claimsService
                  title='Exported'
                  >
                </app-list-filter>
              </div>


            </div>
            <div class="form-row">
            <table class="table table-bordered table-sm">
              <thead>
                <th scope="col" sortable="claimReference" (sort)="onSort($event)">Claim Reference</th>
                <th
                  scope="col"
                  sortable="assessment.scheduledTime"
                  (sort)="onSort($event)"
                  columnType='dateTime'
                >
                  Assessment Date
                </th>
                <th scope="col" sortable="ccg.name" (sort)="onSort($event)">CCG</th>
                <th scope="col" sortable="claimant.displayName" (sort)="onSort($event)">Claimant</th>
                <th scope="col" sortable="claimStatus.name" (sort)="onSort($event)">Status</th>
                <th scope="col" sortable="exportedDate" (sort)="onSort($event)">Exported</th>
              </thead>
              <tbody>
                <tr
                  *ngFor="let claim of claimsList$ | async; index as i"
                  routerLink="/finance/claim/{{claim.id}}"
                  class="clickable"
                >
                  <td>
                    <ngb-highlight [result]="claim.claimReference" [term]="claimsService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="claim.assessment.scheduledTime | date" [term]="claimsService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="claim.ccg.name" [term]="claimsService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="claim.claimant.displayName" [term]="claimsService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="claim.claimStatus.name" [term]="claimsService.searchTerm"></ngb-highlight>
                  </td>
                  <td class="tick">
                    <em *ngIf="claim.exportedDate" class="fas fa-check-square"></em>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-between p-2">
              &nbsp;
              <button
                class="btn btn-primary btn-standard"
                type="button"
                (click)="exportData()"
                [disabled]="!hasVisibleData"
              >
                <i class="fas fa-download"></i>
                Export
              </button>
          </div>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="total$ | async" 
              [(page)]="claimsService.page" 
              [pageSize]="claimsService.pageSize"
              [maxSize]=5>
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="claimsService.pageSize">
              <option [ngValue]="5">5 items per page</option>
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="9999999">All items</option>
            </select>
          </div>
        </form>

        </div>
      </div>
    </div>
  </div>
</div>

<app-delay-spinner *ngIf="claimsService.loading$ | async" [delayMessage]="'Loading...'"></app-delay-spinner>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #confirmExport let-exportClaims>
  <app-finance-export-modal [exportClaims]="activeClaims" (actioned)="OnExportConfirmed($event)">
  </app-finance-export-modal>
</ng-template>
