table th {
  background-color:#0dadb7;
  color: white;
}

form {
  margin:10px;
}

.form-row {
  margin: 10px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #dedede;
}


