<app-navbar [showWarning]="hasDataChanged()" title="Edit Availability"></app-navbar>

<ion-content>

  <ion-list>
    <ion-list-header>
      Edit Availability  
    </ion-list-header>

    <ion-item>
      <ion-toggle color="primary" [(ngModel)]="doctorAvailability.isAvailable">
      </ion-toggle>
      <ion-label class="available-label">{{doctorAvailability.isAvailable ? 'Available' : 'Unavailable'}}
      </ion-label>   
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Start Date</h3>
      </ion-label>
      <ion-datetime [min]="minDate" [max]="maxDate" [(ngModel)]="doctorAvailability.startDateTime">
      </ion-datetime>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Start Time</h3>
      </ion-label>
      <ion-datetime
        [(ngModel)]="doctorAvailability.startDateTime"
        minuteValues="0,15,30,45"
        [min]="minDate"
        displayFormat="HH:mm">
      </ion-datetime>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">End Date</h3>
      </ion-label>
      <ion-datetime [(ngModel)]="doctorAvailability.endDateTime" [min]="minDate" [max]="maxDate">
      </ion-datetime>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">End Time</h3>
      </ion-label>
      <ion-datetime
        [(ngModel)]="doctorAvailability.endDateTime"
        minuteValues="0,15,30,45"
        displayFormat="HH:mm"
      >
      </ion-datetime>            
    </ion-item>

    <ion-item *ngIf="doctorAvailability.hasDateError()">
      <ion-label color="danger">
        <h3>* {{doctorAvailability.dateErrorText}}</h3>
      </ion-label>  
    </ion-item>

    <ion-item *ngIf="doctorAvailability.isAvailable">
      <ion-label>
        <h3 class="bold">Known Location</h3>
      </ion-label>
      <ion-select
        interface="action-sheet" 
        [(ngModel)]="doctorAvailability.knownLocation"
        [selectedText]="doctorAvailability.knownLocation.name"
        [compareWith]="doctorAvailability.compareKnownLocation"
      >
        <ion-select-option *ngFor="let contact of contactDetails$ | async" [value]="contact">
          {{contact.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="doctorAvailability.isAvailable && doctorAvailability.isPostcode()">
      <ion-input
        placeholder="Postcode"
        minlength="6"
        maxlength="8"
        name="postcode"
        autocapitalize="on"
        debounce=500
        [(ngModel)]="doctorAvailability.postcode"
        pattern="^([A-Za-z][A-Ha-hJ-Yj-y]?[0-9][A-Za-z0-9]? ?[0-9][A-Za-z]{2}|[Gg][Ii][Rr] ?0[Aa]{2})">
      </ion-input>
      <ion-button (click)="validatePostcode()">
        <ion-icon name="flash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button 
      (click)="updateAvailability()"
      [disabled]="!doctorAvailability.isValid()"
      color="primary"
      expand="block"
     >
      Update
    </ion-button>
  </ion-toolbar>
</ion-footer>