<app-navbar title="Assessments" lastUpdated={{assessmentRequestsLastUpdated}}></app-navbar>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content refreshingSpinner="none"></ion-refresher-content>
  </ion-refresher>
  <br/>
  <ion-list>

    <ion-item>
      <ion-label>Show All</ion-label>
      <ion-toggle
        slot="end"
        [(ngModel)]="showAll"
        (ngModelChange)="toggleChanged($event)"
        checked>
      </ion-toggle>  
    </ion-item>

    <ion-list-header *ngIf="nothingToDisplay()">
      Assessments  
    </ion-list-header>

    <ion-item *ngIf="nothingToDisplay()">
      <div class="no-data-container">
        <ion-icon
          color="medium"
          name="cube"
          class="no-data"
        >
        </ion-icon>
        <h3>No scheduled or unscheduled assessments found</h3>
      </div>
    </ion-item>

    <ion-list-header *ngIf="scheduledAssessments.length > 0">
      <ion-label>Scheduled Assessments</ion-label>
    </ion-list-header>

    <ion-item 
      *ngFor="let assessment of scheduledAssessments"
      detail="false"
      [routerLink]="['/doctor-assessment-details/', assessment.id]"
      routerDirection="forward"
    >
      <ion-avatar slot="start">
        <ion-icon
          color="success"
          size="large"
          name="checkmark-circle"
          *ngIf="assessmentIsScheduled(assessment)">
        </ion-icon>
        <ion-icon
          color="warning"
          size="large"
          name="help-circle"
          *ngIf="assessmentIsRescheduling(assessment)"></ion-icon>
        <ion-icon
          color="warning"
          size="large"
          name="timer"
          *ngIf="assessmentIsReviewing(assessment)">
        </ion-icon>
      </ion-avatar>
      <ion-label>
        <h2><strong>{{assessment.postcode}}</strong></h2>
        <h3>{{assessment.dateTime | date: "d MMMM yyyy H:mm"}}</h3>
      </ion-label>
    </ion-item>

    <ion-list-header *ngIf="assessmentRequests.length > 0">
      <ion-label>Assessment Requests</ion-label>
    </ion-list-header>

    <ion-item 
      *ngFor="let assessment of assessmentRequests"
      detail="false"
      [routerLink]="['/doctor-assessment-request-response/', assessment.id]"
      routerDirection="forward"
    >
      <ion-avatar slot="start">
        <ion-icon
          color="success"
          size="large"
          name="checkmark-circle"
          *ngIf="assessment.doctorHasAccepted == true && !doctorIsAllocated(assessment)">
        </ion-icon>
        <ion-icon
          color="warning"
          size="large"
          name="help-circle"
          *ngIf="assessment.doctorHasAccepted == null && !doctorIsAllocated(assessment)">
        </ion-icon>
        <ion-icon
          color="danger"
          size="large"
          name="close-circle"
          *ngIf="assessment.doctorHasAccepted == false && !doctorIsAllocated(assessment)">
        </ion-icon>
        <ion-icon
          color="primary"
          size="large"
          name="alert"
          *ngIf="doctorIsAllocated(assessment)">
        </ion-icon>
      </ion-avatar>
      <ion-label>
        <h2><strong>{{assessment.postcode}}</strong></h2>
        <h3>{{assessment.dateTime | date: "d MMMM yyyy H:mm"}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>
  
</ion-content>