/** Overlay **/
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.spinner-container {
  position: relative;
  top: 30%;
  text-align: center;
  color: #11e0ee;
}

.spinner-container .spinner-border {
  font-size: 3em;
  height:100px;
  width:100px;
}

.spinner-message {
  width:100%;
  font-size: 1.2em;
  font-weight: 600;
  padding:10px;
}
