<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
              <i class="fas fa-user-plus fa-4x"></i>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Add Other Doctor</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>

        <div class="card-body">

          <!-- form for existing (registered) doctors -->
          <form [formGroup]="registeredDoctorForm" class="form-style" novalidate>

            <div class="form-row">
              <span class="form-title">Search for registered doctor</span>
            </div>

            <div class="form-row">
              <div class="col-md-4">
                  <label for="amhp">Doctor Name / GMC Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="registeredName"
                    #registeredName
                    [class.is-invalid]="hasDoctorSearchFailed"
                    formControlName="registeredName"
                    [ngbTypeahead]="RegisteredDoctorSearch"
                    [resultFormatter]="FormatTypeAheadResults"
                    [inputFormatter]="FormatTypeAheadResults" />
              </div>
              <div class="col-md-2 mb-1">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="ValidateRegisteredDoctor()"
                  [disabled]="!HasDoctorBeenSelected()"
                >
                  <i class="fas fa-bolt"></i>
                  Validate
                </button>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4" *ngIf="isRegisteredDoctorSearching">
                <span>Searching</span>
              </div>
            </div>
            <div class="form-row" *ngIf="hasRegisteredDoctorDetails">
              <div class="col-md-4">
                <label>GMC Number</label>
                <input
                  type="text"
                  disabled=true
                  class="form-control"
                  value={{registeredDoctorDetails.gmcNumber}}
                />
              </div>
              <div class="col-md-4">
                <label>Doctor Type</label>
                <input
                  type="text"
                  disabled=true
                  class="form-control"
                  value={{registeredDoctorDetails.type}}
                />
              </div>
              <div class="col-md-4">
                <label>Gender</label>
                <input
                  type="text"
                  disabled=true
                  class="form-control"
                  value={{registeredDoctorDetails.gender}}
                />
              </div>
            </div>

            <div class="form-row flex-top" *ngIf="hasRegisteredDoctorDetails">
              <div class="col-md-4">
                <label>Contact</label>
                <input
                  type="text"
                  disabled=true
                  class="form-control"
                  value={{registeredDoctorDetails.telephone}}
                />
              </div>
              <div class="col-md-4">
                <label>Specialities</label>
                <div class="input-div">
                  <div *ngFor="let speciality of registeredDoctorDetails.specialities">
                    {{speciality}}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 text-left">
                <button
                  type="button"
                  class="btn btn-primary btn-standard"
                  [disabled]="!hasRegisteredDoctorDetails"
                  (click)="AllocateRegisteredDoctor()"
                >
                  <i class="far fa-check-circle"></i>
                  Allocate
                </button>
              </div>
            </div>
          </form>

           <!-- form for unregistered doctors -->
           <form [formGroup]="unregisteredDoctorForm" class="form-style" novalidate>

            <div class="form-row">
              <span class="form-title">Add unregistered doctor</span>
            </div>

            <div class="form-row">
              <div class="col-md-4">
                <label for="amhp">Doctor Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      [disabled]="DisableIfParentIsDisabled('unregisteredName')"
                      type="button"
                      class="btn btn-trash"
                      (click)="ClearField('unregisteredName')"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="unregisteredName"
                    #unregisteredName
                    formControlName="unregisteredName"
                  />
                </div>
              </div>
              <div class="col-md-2">
                <label for="amhp">GMC Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      [disabled]="DisableIfParentIsDisabled('unregisteredGmcNumber')"
                      type="button"
                      class="btn btn-trash"
                      (click)="ClearField('unregisteredGmcNumber')"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="unregisteredGmcNumber"
                    minlength="7"
                    maxlength="7"
                    #unregisteredGmcNumber
                    formControlName="unregisteredGmcNumber"
                  />
                </div>
              </div>
              <div class="col-md-2 mb-1">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="SearchUnregisteredDoctor()"
                  [disabled]="unregisteredName == '' && unregisteredGmcNumber == ''"
                >
                  <i class="fas fa-search "></i>
                  Search
                </button>
              </div>
            </div>
            <div class="form-row" *ngIf="isUnregisteredSearchComplete">
                <div class="col-md-2">
                    <label>Gender</label>
                    <select
                      class="custom-select custom-select-lg form-control"
                      formControlName="gender"
                      #gender
                      id="gender"
                    >
                    <option></option>
                    <option
                      *ngFor="let gender of genderTypes; let i=index"
                      [value]="genderTypes[i].id"
                    >
                      {{genderTypes[i].name}}
                    </option>
                    </select>
                  </div>
              <div class="col-md-2 mb-2">
                  <div class="checkmark-content">
                      <label class="container">
                        <input
                          class="form-control"
                          type="checkbox"
                          [checked]="unregisteredUser.isSection12"
                          id="isSection12"
                          formControlName="isSection12"
                          #isSection12
                        />
                        <span class="checkmark"></span>
                        Section 12 Doctor
                      </label>
                    </div>
              </div>
              <div class="col-md-4">
                  <label>Contact Number</label>
                  <input
                    type="text"
                    class="form-control"
                    value={{unregisteredUser.contact}}
                    formControlName="contact"
                  />
                </div>

            </div>

            <div class="form-row flex-top" *ngIf="isUnregisteredSearchComplete">
                <div class="col-md-8">
                    <label>Organisation</label>
                    <input
                      type="text"
                      class="form-control"
                      value={{unregisteredUser.organisation}}
                      formControlName="organisation"
                    />
                  </div>
            </div>

            <div class="form-row" *ngIf="isUnregisteredSearchComplete">
                <div class="col-md-2">
                    <label>Postcode</label>
                    <input
                      type="text"
                      maxlength="8"
                      minlength="6"
                      formControlName="postcode"
                      #postcode
                      id="postcode"
                      oninput="this.value = this.value.toUpperCase()"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': HasInvalidPostcode(),
                        'is-valid': HasValidPostcode() && !hasUnregisteredUser
                      }" />
                  </div>
                  <div class="col-md-2 mb-1" *ngIf="!hasUnregisteredUser">
                      <button
                      type="button"
                      class="btn btn-primary btn-assessment"
                      placement="top"
                      ngbTooltip="Search for addresses"
                      [openDelay]="1000"
                      [closeDelay]="500"
                      tooltipClass="subtle-tooltip"
                      (click)="AddressSearch()"
                      [disabled]="postcode.value == '' || postcode.errors != null || hasUnregisteredUser"
                    >
                    <i class="fas fa-search-location"></i>
                    {{ isPostcodeSearching ? "Searching" : "Find" }}
                    <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                        *ngIf="isPostcodeSearching"
                      >
                    </span>
                    </button>
                  </div>
            </div>

            <div class="form-row flex-top" *ngIf="isUnregisteredSearchComplete">
              <div class="col-md-8" *ngIf="hasUnregisteredUser">
                <label>Address</label>
                <input
                  type="text"
                  class="form-control"
                  value={{unregisteredUser.address}}
                  [disabled]=true
                />
              </div>
              <div class="col-md-8" *ngIf="!hasUnregisteredUser && addressList.length > 0">
                  <label>Address</label>
                  <select
                    class="custom-select custom-select-lg mb-2 form-control"
                    formControlName="unregisteredUserAddress"
                    #unregisteredUserAddress
                    id="unregisteredUserAddress"
                    appFocusOnShow
                  >
                    <option disabled=true [selected]=true>Please Select Address</option>
                    <option *ngFor="let address of addressList; let i=index" [value]="addressList[i].address">
                      {{addressList[i].address}}
                    </option>
                  </select>
                </div>
            </div>
            <div class="form-row" *ngIf="isUnregisteredSearchComplete && hasUnregisteredUser">
              <div class="col-md-2">
                <label>Number of Previous Assessments</label>
                <input
                  type="text"
                  class="form-control"
                  value={{unregisteredUser.numberOfAssessments}}
                  formControlName="previousAssessments"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 text-left">
                <button
                  type="button"
                  class="btn btn-primary btn-standard"
                  (click)="AllocateRegisteredDoctor()"
                >
                  <i class="far fa-check-circle"></i>
                  Allocate
                </button>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-12 text-right">
              <div class="mr-more-2">
                <button
                  type="button"
                  class="btn btn-standard btn-cancel mr-right-2"
                  (click)="Cancel()"
                  >
                  <i class="far fa-times-circle"></i>
                  Cancel
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<ng-template #loading>
  <app-delay-spinner [delayMessage]="'Retrieving assessment data'"></app-delay-spinner>
</ng-template>

<ng-template #cancelAllocation>
  <app-cancel-action-modal
    [modalTitle]="'Cancel Doctor Allocation'"
    [modalBody]="'Do you wish to cancel this doctor allocation? All changes will be lost.'"
    (actioned)="OnCancelModalAction($event)"
  >
  </app-cancel-action-modal>
</ng-template>

<!-- multiple unregistered users -->
<ng-template #unregisteredUserResults >
  <app-unregistered-users-modal
    [unregisteredUsers]="unregisteredUsers"
    (selected)="OnSelectUnregisteredUser($event)"
    (cancelled)="OnCancelUnregisteredUser()"
  >
  </app-unregistered-users-modal>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

