<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
              <i class="fas fa-user-plus fa-4x"></i>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Add Other Doctor</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-body">
          <!-- form for existing (registered) doctors -->
          <form [formGroup]="registeredDoctorForm" class="form-style" novalidate>

            <div class="form-row">
              <span class="form-title">Search for registered doctor</span>
            </div>
            <div class="form-row">
              <div class="col-md-4">
                  <label for="amhp">Doctor Name / GMC Number</label>
                  <input
                    type="search"
                    class="form-control"
                    id="registeredName"
                    #registeredName
                    [class.is-invalid]="hasDoctorSearchFailed"
                    formControlName="registeredName"
                    [ngbTypeahead]="RegisteredDoctorSearch"
                    [resultFormatter]="FormatTypeAheadResults"
                    [inputFormatter]="FormatTypeAheadResults" />
              </div>
              <div class="col-md-2 mb-1">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="ValidateRegisteredDoctor()"
                  [disabled]="!HasDoctorBeenSelected()"
                >
                  <i class="fas fa-bolt"></i>
                  Validate
                </button>
              </div>
            </div>
            <!-- Doctor Name / GMC Number Errors-->
            <div class="form-row" *ngIf="registeredDoctorField.errors">
              <div class="col-md-12 mb-2">
                <div *ngIf="registeredDoctorField.errors.NoMatchingResults" class="invalid-field">
                  <span>* No Results Found </span>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4" *ngIf="isRegisteredDoctorSearching || hasDoctorSearchFailed">
                <span *ngIf="isRegisteredDoctorSearching">searching...</span>
                <div class="invalid-field" *ngIf="hasDoctorSearchFailed">
                  Sorry, suggestions could not be loaded.
                </div>
              </div>
            </div>
            <div class="form-row" *ngIf="hasRegisteredDoctorDetails">
              <div class="col-md-4">
                <label>GMC Number</label>
                <input
                  type="text"
                  disabled=true
                  class="form-control"
                  value={{registeredDoctorDetails.gmcNumber}}
                />
              </div>
              <div class="col-md-4">
                <label>Doctor Type</label>
                <input
                  type="text"
                  disabled=true
                  class="form-control"
                  value={{registeredDoctorDetails.profileTypeName}}
                />
              </div>
              <div class="col-md-4">
                <label>Gender</label>
                <input
                  type="text"
                  disabled=true
                  class="form-control"
                  value={{registeredDoctorDetails.genderName}}
                />
              </div>
            </div>
            <div class="form-row flex-top" *ngIf="hasRegisteredDoctorDetails">
              <div class="col-md-4">
                <label>Contact</label>
                <input
                  type="text"
                  disabled=true
                  class="form-control"
                  value={{registeredDoctorDetails.contactDetailBase.telephoneNumber}}
                />
              </div>
              <div class="col-md-4">
                <label>Specialities</label>
                <div class="input-div">
                  <div *ngFor="let speciality of registeredDoctorDetails.userSpecialityNames">
                    {{speciality}}
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label>Section 12 Approved</label>
                <div class="input-div">
                  <i
                    class="fas fa-check-circle"
                    *ngIf="registeredDoctorDetails.section12ApprovalStatusId !== null">
                  </i>
                  <i
                   class="fas fa-times-circle"
                    *ngIf="registeredDoctorDetails.section12ApprovalStatusId == null">
                  </i>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 text-left">
                <button
                  type="button"
                  class="btn btn-primary btn-standard"
                  [disabled]="!hasRegisteredDoctorDetails"
                  (click)="AllocateRegisteredDoctor()"
                >
                  <i class="far fa-check-circle"></i>
                  Allocate
                </button>
              </div>
            </div>
          </form>
           <!-- form for unregistered doctors -->
           <form [formGroup]="unregisteredDoctorForm" class="form-style" novalidate>

            <div class="form-row">
              <span class="form-title">Add unregistered doctor</span>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label for="amhp">Doctor Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      [disabled]="DisableIfParentIsDisabled('unregisteredName')"
                      type="button"
                      class="btn btn-trash"
                      (click)="ClearField('unregisteredName')"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="unregisteredName"
                    #unregisteredName
                    formControlName="unregisteredName"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <label for="amhp">GMC Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      [disabled]="DisableIfParentIsDisabled('unregisteredGmcNumber')"
                      type="button"
                      class="btn btn-trash"
                      (click)="ClearField('unregisteredGmcNumber')"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="unregisteredGmcNumber"
                    minlength="7"
                    maxlength="7"
                    #unregisteredGmcNumber
                    formControlName="unregisteredGmcNumber"
                  />
                </div>
              </div>
              <div class="col-md-2 mb-1">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="SearchUnregisteredDoctor()"
                >
                  <i class="fas fa-search"></i>
                  Search
                </button>
              </div>
            </div>
            <div class="form-row" *ngIf="isUnregisteredSearchComplete">
              <div class="col-md-4">
                <label>Gender</label>
                  <select
                    class="custom-select custom-select-lg form-control"
                    formControlName="gender"
                    #gender
                    id="gender"
                  >
                  <option></option>
                  <option
                    *ngFor="let gender of genderTypes; let i=index"
                    [value]="genderTypes[i].id"
                  >
                    {{genderTypes[i].name}}
                  </option>
                </select>
              </div>
              <div class="col-md-4">
                <label>Contact Number</label>
                  <input
                    type="text"
                    class="form-control"
                    value={{unregisteredUser.contact}}
                    formControlName="contact"
                  />
                </div>
              <div class="col-md-4 mb-2">
                <div class="checkmark-content">
                  <label class="container">
                    <input
                      class="form-control"
                      type="checkbox"
                      [checked]="unregisteredUser.isSection12"
                      id="isSection12"
                      formControlName="isSection12"
                      #isSection12
                    />
                  <span class="checkmark"></span>
                    Section 12 Doctor
                  </label>
                </div>
              </div>
            </div>
            <div class="form-row" *ngIf="unregisteredUserError !== ''">
              <span class="invalid-field" style="margin-left:10px;">{{unregisteredUserError}}</span>
            </div>
            <div class="form-row">
              <div class="col-md-12 text-left">
                <button
                  type="button"
                  class="btn btn-primary btn-standard"
                  (click)="AllocateUnregisteredDoctor()"
                  [disabled]="HasIncompleteUser()"
                >
                  <i class="far fa-check-circle"></i>
                  Allocate
                </button>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12 text-right">
              <div class="mr-more-2">
                <button
                  type="button"
                  class="btn btn-standard btn-cancel mr-right-2"
                  (click)="Cancel()"
                  >
                  <i class="far fa-times-circle"></i>
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<ng-template #loading>
  <app-delay-spinner [delayMessage]="'Retrieving assessment data'"></app-delay-spinner>
</ng-template>

<ng-template #cancelAllocation>
  <app-cancel-action-modal
    [modalTitle]="'Cancel Doctor Allocation'"
    [modalBody]="'Do you wish to cancel this doctor allocation? All changes will be lost.'"
    (actioned)="OnCancelModalAction($event)"
  >
  </app-cancel-action-modal>
</ng-template>

<!-- multiple unregistered users -->
<ng-template #unregisteredUserResults >
  <app-unregistered-users-modal
    [unregisteredUsers]="unregisteredUsers"
    (selected)="OnSelectUnregisteredUser($event)"
    (cancelled)="OnCancelUnregisteredUser()"
  >
  </app-unregistered-users-modal>
</ng-template>

<ng-template #confirmExistingUser>
  <app-cancel-action-modal
    [modalTitle]="'Registered Doctor'"
    [modalBody]=existingUserMessage
    (actioned)="OnCancelExistingModalAction($event)"
  >
  </app-cancel-action-modal>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
