form {
  margin:20px;
}

.btn-assessment {
  margin-top: 10px;
  min-width: 100px;
}

.btn-spaced {
  margin-left: 10px;
}

.button-container {
  align-items: center;
  display:flex;
  height: 100%;
}

.additional-details {
  resize: none;
}

.checkmark-content {
  bottom: 8px;
  margin-left: 0;
  padding-left: 0;
  z-index: 100;
}

.at {
  color: #666;
  font-size:1.3em;
  font-weight: 600;
}

.padding-left-1 {
  padding-left: 1px;
}

