.additional-details {
  resize: none;
}

.btn-assessment {
  margin-top: 10px;
  min-width: 100px;
}

.btn-spaced {
  margin-left: 10px;
}

.button-container {
  align-items: center;
  display: flex;
  height: 100%;
}

.checkmark-content {
  bottom: 8px;
  margin-left: 0;
  padding-left: 0;
  position: initial;
  z-index: 100;
}

.form-control.is-invalid {
  background-image: none;
  padding-right: 0.5em;
}

.form-control.is-valid {
  background-image: none;
  padding-right: 0.5em;
}

form {
  margin: 20px;
}

.padding-left-1 {
  padding-left: 1px;
}

.required-field::after {
  color: red;
  content: " *";
}
