<!-- standard navbar -->
<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <i class="fas fa-folder-plus fa-4x"></i>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Create New Assessment</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-header-details" *ngIf="referral$ | async as referral; else loading">
          <div class="flex-item">
            Referral Id: <strong>{{referral.id}}</strong>
          </div>
          <div class="flex-item">
            Referral Created: <strong>{{referral.createdAt | date:'medium'}}</strong>
          </div>
          <div class="flex-item">
            Patient Id: <strong>{{referral.patient.patientIdentifier | uppercase | slice: 0:20}}</strong>
          </div>
          <div class="flex-item">
            Lead AMHP: <strong>{{referral.leadAmhpUser.displayName}}</strong>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="assessmentForm" novalidate>
            <div class="form-row">
              <div class="required-field col-md-3 mb-3 text-left">
                <strong>Denotes required field.</strong>
              </div>
            </div>
            <div class="form-row">
              <!-- Planned assessment -->
              <div class="col-md-8">
                <div class="checkmark-content">
                  <label class="container">
                    <input class="form-control" type="checkbox" value="" id="plannedAssessment"
                      formControlName="plannedAssessment" #plannedAssessment
                      (change)="TogglePlannedAssessment($event)" />
                    <span class="checkmark"></span>
                    Planned / Retrospective Assessment
                  </label>
                </div>
              </div>
            </div>
            <!-- AMHP User -->
            <div class="form-row">
              <div class="col-md-8 mb-2">
                <label class="required-field" for="amhp">AMHP</label>
                <input type="search" class="form-control" id="amhp" #amhp [class.is-invalid]="hasAmhpSearchFailed"
                  formControlName="amhp" [ngbTypeahead]="AmhpSearch" [resultFormatter]="FormatTypeAheadResults"
                  [inputFormatter]="FormatTypeAheadResults" />
              </div>
            </div>
            <!-- AMHP User Errors-->
            <div class="form-row" *ngIf="hasAmhpSearchFailed">
              <div class="col-md-8 mb-2">
                <span *ngIf="isAmhpSearching">searching...</span>
                <div class="invalid-field" *ngIf="hasAmhpSearchFailed">
                  Sorry, suggestions could not be loaded.
                </div>
              </div>
            </div>
            <div class="form-row" *ngIf="amhpField.errors">
              <div class="col-md-8 mb-2">
                <div class="invalid-field" *ngIf="amhpField.errors.InvalidAmhp">
                  * AMHP must be provided
                </div>
              </div>
            </div>
            <!-- Planned assessment date / time -->
            <div class="form-row" *ngIf="plannedAssessment.checked">
              <div class="col-md-6">
                <label for="plannedPicker">Assessment Date / Time</label>
                <div class="row" name="plannedPicker">
                  <div class="col-md-5">
                    <input class="form-control" formControlName='scheduledDate' placeholder="dd/mm/yyyy"
                      name="scheduledDate" [minDate]='minDate' ngbDatepicker #s="ngbDatepicker" />
                  </div>
                  <div class="col-md-1 padding-left-1">
                    <button class="btn btn-outline-secondary calendar" (click)="s.toggle()"
                      [disabled]="!IsFormInCreatingState()" type="button">
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                  <div class="col-md-1 at">@</div>
                  <div class="col-md-4 mt-less-5 ml-less-2">
                    <ngb-timepicker formControlName="scheduledTime" [minuteStep]="5"></ngb-timepicker>
                  </div>
                </div>
              </div>
            </div>
            <!-- Date Format Errors-->
            <div class="form-row" *ngIf="plannedAssessment.checked">
              <div class="col-md-4 mb-2 reduced-top-margin">
                <div class="invalid-field"
                  *ngIf="scheduledDateField.errors && scheduledDateField.errors.DatePickerFormat">
                  <span>Invalid Date Format</span>
                </div>
                <div class="invalid-field"
                  *ngIf="scheduledDateField.errors && scheduledDateField.errors.InvalidAssessmentDate">
                  <span>* Date is earlier than the referral creation date</span>
                </div>
              </div>
            </div>
            <!-- Assessment Postcode -->
            <div class="form-row">
              <div class="col-md-3 mb-2">
                <label class="required-field" for="assessmentPostcode">Assessment Postcode</label>
                <input type="search" maxlength="8" minlength="6" formControlName="assessmentPostcode"
                  #assessmentPostcode id="assessmentPostcode" oninput="this.value = this.value.toUpperCase()"
                  class="form-control" [ngClass]="{
                    'is-invalid': HasInvalidPostcode(),
                    'is-valid': HasValidPostcode()
                  }" />
              </div>
              <div class="col-md-4 centered-div">
                <div class="button-container">
                  <button type="button" class="btn btn-primary btn-assessment" placement="top"
                    ngbTooltip="Search for addresses" [openDelay]="1000" [closeDelay]="500"
                    tooltipClass="subtle-tooltip" [disabled]="!IsFormInCreatingState()" (click)="AddressSearch()"
                    [disabled]="assessmentPostcode.value == '' || assessmentPostcode.errors != null">
                    <i class="fas fa-search-location"></i>
                    {{ IsSearchingForPostcode() ? "Searching" : "Find" }}
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                      *ngIf="IsSearchingForPostcode()">
                    </span>
                  </button>
                  <button type="button" class="btn btn-primary btn-assessment btn-spaced" placement="top"
                    [disabled]="!IsFormInCreatingState()" ngbTooltip="Locate an address using an external web site"
                    [openDelay]="1000" [closeDelay]="500" tooltipClass="subtle-tooltip" (click)="OpenLocationTab()">
                    <i class="far fa-map"></i>
                    Locate
                  </button>
                </div>
              </div>
            </div>
            <!-- Assessment Postcode Errors-->
            <div class="form-row" *ngIf="assessmentPostcodeField.errors">
              <div class="col-md-4 mb-2 reduced-top-margin">
                <div class="invalid-field" *ngIf="assessmentPostcodeField.errors.pattern">
                  <span>Invalid Postcode Format</span>
                </div>
                <div class="invalid-field" *ngIf="assessmentPostcodeField.errors.NoResultsReturned">
                  <span>No Matches Found</span>
                </div>
                <div class="invalid-field" *ngIf="assessmentPostcodeField.errors.MissingPostcode">
                  <span>* Postcode must be provided</span>
                </div>
              </div>
            </div>
            <!-- Assessment Address -->
            <div class="form-row" *ngIf="addressList.length > 0">
              <div class="col-md-8 mb-2">
                <label class="required-field" for="assessmentAddress">Assessment Address</label>
                <select class="custom-select custom-select-lg mb-2 form-control" formControlName="assessmentAddress"
                  #assessmentAddress id="assessmentAddress" appFocusOnShow>
                  <option disabled=true [selected]=true>Please Select Address</option>
                  <option *ngFor="let address of addressList; let i=index" [value]="addressList[i]">
                    {{addressList[i]}}
                  </option>
                </select>
              </div>
            </div>
            <!-- Assessment Address Errors-->
            <div class="form-row" *ngIf="assessmentAddressField.errors">
              <div class="col-md-4 mb-2 reduced-top-margin">
                <div class="invalid-field" *ngIf="assessmentAddressField.errors.InvalidAddress">
                  <span>* Address must be provided</span>
                </div>
              </div>
            </div>
            <!-- Additional location details -->
            <div class="form-row">
              <div class="col-md-8 mb-2">
                <label for="additionalDetails">Additional Location Details</label>
                <textarea class="form-control additional-details" formControlName="additionalDetails" #additionalDetails
                  id=additionalDetails>
                </textarea>
              </div>
            </div>
            <!-- Further information / risks -->
            <div class="form-row">
              <div class="col-md-8 mb-2">
                <label for="assessmentDetails">Further Information / Risks</label>
                <ng-multiselect-dropdown formControlName="assessmentDetails" [settings]="dropdownSettings"
                  [data]="assessmentDetails" (onSelect)="OnItemSelect($event)" (onDeSelect)="OnItemDeselect($event)"
                  [disabled]="!IsFormInCreatingState()">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="form-row">
              <!-- speciality dropdown -->
              <div class="col-md-4 mb-2">
                <label for="speciality">Speciality</label>
                <select class="custom-select custom-select-lg mb-2 form-control" formControlName="speciality"
                  #speciality id="speciality">
                  <option [selected]=true></option>
                  <option *ngFor="let speciality of specialities; let i=index" [value]="specialities[i].id">
                    {{specialities[i].name}}
                  </option>
                </select>
              </div>
              <!-- gender dropdown -->
              <div class="col-md-4 mb-2">
                <label for="preferredGender">Preferred Doctor Gender</label>
                <select class="custom-select custom-select-lg mb-2 form-control" formControlName="preferredGender"
                  #preferredGender id="preferredGender">
                  <option [selected]=true></option>
                  <option *ngFor="let gender of genderTypes; let i=index" [value]="genderTypes[i].id">
                    {{genderTypes[i].name}}
                  </option>
                </select>
              </div>
            </div>
            <!-- To Be Completed By -->
            <div class="form-row" *ngIf="!plannedAssessment.checked">
              <div class="col-md-6">
                <label for="picker">To Be Completed By</label>
                <div class="row" name="picker">
                  <div class="col-md-4">
                    <input class="form-control" formControlName='toBeCompletedByDate' placeholder="dd/mm/yyyy"
                      name="toBeCompletedByDate" [minDate]='minDate' ngbDatepicker #d="ngbDatepicker" />
                  </div>
                  <div class="col-md-1 padding-left-1">
                    <button id="calendarBtn" [disabled]="!IsFormInCreatingState()"
                      class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                  <div class="col-md-1 at">@</div>
                  <div class="col-md-4 mlt-less-1 mt-less-5">
                    <ngb-timepicker formControlName="toBeCompletedByTime" [minuteStep]="5"></ngb-timepicker>
                  </div>
                </div>
              </div>
            </div>
            <!-- Date Format Errors-->
            <div class="form-row" *ngIf="!plannedAssessment.checked">
              <div class="col-md-4 mb-2 reduced-top-margin">
                <div class="invalid-field"
                  *ngIf="toBeCompletedByDateField.errors && toBeCompletedByDateField.errors.DatePickerFormat">
                  <span>Invalid Date Format</span>
                </div>
                <div class="invalid-field"
                  *ngIf="toBeCompletedByDateField.errors && toBeCompletedByDateField.errors.InvalidAssessmentDate">
                  <span>* Date is earlier than the referral creation date</span>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4">
                <button type="button" class="btn btn-primary" (click)="SelectDoctor()"
                  [disabled]="IsFormInCreatingState()" *ngIf="plannedAssessment.checked">
                  Enter / Search Doctor
                </button>
                <button type="button" class="btn btn-primary" (click)="SelectDoctor()"
                  [disabled]="IsFormInCreatingState()" *ngIf="!plannedAssessment.checked">
                  <i class="fas fa-user-plus"></i>
                  Select Doctor
                </button>
              </div>
              <div class="col-md-2 offset-md-4 text-right">
                <button type="button" class="btn btn-standard btn-cancel" (click)="CancelAssessment()"
                  *ngIf="IsFormInCreatingState()">
                  <i class="far fa-times-circle"></i>
                  Cancel
                </button>
                <button type="button" class="btn btn-standard btn-primary" (click)="ReferralListNavigation()"
                  *ngIf="!IsFormInCreatingState()">
                  <i class="fas fa-list"></i>
                  Referral List
                </button>
              </div>
              <div class="col-md-2 text-left">
                <button type="button" class="btn btn-primary btn-standard" (click)="SaveAssessment()"
                  *ngIf="IsFormInCreatingState()">
                  <i class="far fa-check-circle"></i>
                  Save
                </button>
                <button type="button" class="btn btn-primary btn-standard" (click)="EditAssessment()"
                  *ngIf="!IsFormInCreatingState()">
                  <i class="far fa-edit"></i>
                  Edit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-delay-spinner *ngIf="isCreatingAssessment" [delayMessage]="'Creating Assessment'"></app-delay-spinner>

  <ng-template #loading>
    <app-delay-spinner [delayMessage]="'Retrieving referral data'"></app-delay-spinner>
  </ng-template>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

  <ng-template #cancelAssessment>
    <app-cancel-action-modal [modalTitle]="'Cancel Assessment'"
      [modalBody]="'Do you wish to cancel this assessment? All changes will be lost.'"
      (actioned)="OnCancelModalAction($event)">
    </app-cancel-action-modal>
  </ng-template>

</div>