<ion-app>
  <ion-menu contentId="appContent" side="end">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item *ngIf="isAuthenticated" routerLink="/user-profile" routerDirection="forward">
            <ion-icon name="person"></ion-icon> {{userName}}
          </ion-item>
          <ion-item routerLink="/home" routerDirection="root">
            <ion-icon name="home"></ion-icon> Home
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isAuthenticated && user.isDoctor">
          <ion-item routerLink="/doctor-assessments" routerDirection="forward">
            <ion-icon name="list"></ion-icon> Assessments
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isAuthenticated && user.isDoctor">
          <ion-item routerLink="/claims-list" routerDirection="forward">
            <ion-icon name="pricetag"></ion-icon> Claims
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isAuthenticated && user.isAmhp">
          <ion-item routerLink="/amhp-assessment-list" routerDirection="forward">
            <ion-icon name="folder-open"></ion-icon> AMHP Assessments
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isAuthenticated && user.isDoctor">
          <ion-item routerLink="/doctor-availability-view" routerDirection="forward">
            <ion-icon name="search"></ion-icon> Availability
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isAuthenticated && user.isDoctor">
          <ion-item routerLink="/doctor-on-call-list" routerDirection="forward">
            <ion-icon name="list"></ion-icon> On Call
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/help" routerDirection="forward">
            <ion-icon name="help"></ion-icon> Help
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isAuthenticated">
          <ion-item (click)="logOff()">
            <ion-icon name="log-out"></ion-icon> Log Off
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="appContent"></ion-router-outlet>
</ion-app>
