<!-- standard navbar -->
<app-navbar></app-navbar>
<div class="page-content">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Create New Referral</h5>
      <h6 class="card-subtitle mb-2 text-muted">Create a new referral and patient (if required)</h6>
      <p class="card-text">Card content will go here and contain all fields required to create a new referral / patient</p>
      <a href="#" class="card-link">Cancel (does nothing)</a>
      <a href="#" class="card-link">Save (does nothing)</a>
    </div>
  </div>
</div>

