<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label class="examination-view-last-updated">
          Last Updated: {{examinationLastUpdated | date: "dd/MM/yyyy HH:mm:ss"}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Referral Id: {{(examinationView$ | async)?.referralId}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Patient Id: {{(examinationView$ | async)?.patientIdentifier}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-item>
          <ion-label>{{(examinationView$ | async)?.dateTime | date: "d MMMM yyyy H:mm"}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Exam Speciality: {{(examinationView$ | async)?.specialityName}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="item item-text-wrap">
          <ion-label>
            {{(examinationView$ | async)?.address1}}
            <br *ngIf="(examinationView$ | async)?.address1 && 
              (examinationView$ | async)?.address1.length > 0" />
            {{(examinationView$ | async)?.address2}}
            <br *ngIf="(examinationView$ | async)?.address2 && 
              (examinationView$ | async)?.address2.length > 0" />
            {{(examinationView$ | async)?.address3}}
            <br *ngIf="(examinationView$ | async)?.address3 && 
              (examinationView$ | async)?.address3.length > 0" />
            {{(examinationView$ | async)?.address4}}
            <br *ngIf="(examinationView$ | async)?.address4 && 
              (examinationView$ | async)?.address4.length > 0" />
            {{(examinationView$ | async)?.postcode}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-text *ngFor="let doctor of (examinationView$ | async)?.doctorsAllocated">
              {{doctor.displayName}}<br />
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="item item-text-wrap">
          {{(examinationView$ | async)?.meetingArrangementComment}}
        </ion-item>
      </ion-col>
    </ion-row>    

    <ion-row>
      <ion-col>
        <ion-button *ngIf="examinationView$ | async" expand="block" color="warning">
          Update status
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>