.form-control.is-invalid{
  background-image: none;
  padding-right: 0.5em;
}

.form-control.is-valid{
  background-image: none;
  padding-right: 0.5em;
}

form {
  margin:20px;
}

.form-row {
  margin-top: 10px;
}

.button-container {
  align-items: flex-end;
  display:flex;
  height: 100%;
}

.btn-assessment {
  min-width: 100px;
}

.btn-spaced {
  margin-left: 10px;
}

.at {
  color: #666;
  font-size:1.3em;
  font-weight: 600;
}

.select-trash {
  height: calc(1.5em + 1rem + 7px);
}

.doctor-list {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  padding: .375rem .75rem;
}

.doctor-row {
  border-radius: 0.25rem;
  color: #495057;
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 10px;
}

.gmc-number {
  font-size: 0.8em;
  padding-left: 5px;
}

.current-address {
  background-color: #ddd;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  color: #495057;
  font-size: 1.2em;
  font-weight: 600;
  height: calc(1.5em + 1rem + 2px);
  letter-spacing: 0.8px;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-top: .5rem;
  width: 100%;
}
