<app-navbar title="AMHP Assessment" lastUpdated={{assessmentLastUpdated}}></app-navbar>
<ion-content fullscreen>

  <ion-list>

    <ion-list-header>
      AMHP Assessment  
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h3 class="bold">Parent Referral</h3>
        <h3>{{assessmentView?.referralId}} - {{assessmentView?.referralStatus}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Patient Identifier</h3>
        <h3>{{assessmentView?.patientIdentifier}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">{{assessmentView?.isPlanned ? 'Scheduled' : 'Complete By'}}</h3>
        <h3>{{assessmentView?.dateTime | date: "d MMMM yyyy H:mm"}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Assessment Address</h3>
        <h3>{{assessmentView?.address1}}</h3>
        <h3>{{assessmentView?.address2}}</h3>
        <h3>{{assessmentView?.address3}}</h3>
        <h3>{{assessmentView?.address4}}</h3>
        <h3>{{assessmentView?.postcode}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item *ngIf="assessmentView?.specialityName">
      <ion-label>
        <h3 class="bold">Speciality</h3>
        <h3>{{assessmentView?.specialityName}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item *ngIf="assessmentView?.detailTypes.length > 0">
      <ion-label>
        <h3 class="bold">Further Information / Risks</h3>
        <h3 *ngFor="let detail of assessmentView?.detailTypes">
          {{detail.name}}
        </h3>
      </ion-label>            
    </ion-item>

    <ion-item *ngIf="assessmentView?.doctorsSelected.length > 0">
      <ion-label>
        <h3 class="bold">Selected Doctors</h3>
         
        <ion-list>
          <ion-item *ngFor="let doctor of assessmentView.doctorsSelected">
            <ion-avatar slot="start">
              <ion-icon
              color="warning"
              size="small"
              name="help-circle"
              *ngIf="!doctor.hasResponded"
              >
              </ion-icon>
              <ion-icon
                color="success"
                size="small"
                name="checkmark-circle"
                *ngIf="doctor.hasResponded"
              >
              </ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>{{doctor.displayName}}</h3>
              <h3>
                ({{doctor.isRegistered ? "Reg" : "not Reg"}},
                {{doctor.isS12 ? "S12" : "not S12"}}) {{doctor.distance | number : '1.1-1'}} miles
              </h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="assessmentView?.doctorsAllocated.length > 0">
      <ion-label>
        <h3 class="bold">Allocated Doctors</h3>
         
        <ion-list>
          <ion-item *ngFor="let doctor of assessmentView.doctorsAllocated">
            <ion-avatar slot="start">
              <ion-icon
                color="success"
                size="small"
                name="checkmark-circle"
              >
              </ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>{{doctor.displayName}}</h3>
              <h3>
                ({{doctor.isRegistered ? "Reg" : "not Reg"}},
                {{doctor.isS12 ? "S12" : "not S12"}}) {{doctor.distance | number : '1.1-1'}} miles
              </h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="assessmentView?.meetingArrangementComment !== ''">
      <ion-label>
        <h3 class="bold">Additional Details</h3>
        <h3>{{assessmentView?.meetingArrangementComment}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item *ngIf="assessmentView?.isSuccessful === true || assessmentView?.isSuccessful === false">
      <ion-label>
        <h3 class="bold">Assessment Outcome</h3>
        <h3>{{assessmentView?.isSuccessful ? "Successful" : "Unsuccessful"}}</h3>
      </ion-label>            
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer *ngIf="assessmentView?.canUpdateOutcome">
  <ion-toolbar>
    <ion-button 
      (click)="this.updateAssessment()"
      color="warning"
      expand="block"
    >
      Update Status
    </ion-button>  
  </ion-toolbar>
</ion-footer>