<!-- Toolbar -->
<div class="toolbar-container" role="banner">
  <a class="navbar-icon" [routerLink]=home()>
    <div class="fas fa-home fa-2x"></div>
    <div class="">Home</div>
  </a>
  <a class="toolbar-left" [routerLink]=home()>
    <div class="title">Find Me An S12 Doctor</div>
    <div class="version">Version: {{version}} </div>
  </a>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="navbar-icon-dropdown far fa-user fa-2x" id="dropdownAdmin" ngbDropdownToggle></button>
        <div ngbDropdownMenu aria-labelledby="dropdownAdmin">
          <div class="account-name">{{userData.name}}</div>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Profile</button>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem *ngIf="!isAuthorized" (click)="login()">Login</a>
          <a ngbDropdownItem *ngIf="isAuthorized" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="navbar-icon-dropdown fas fa-bars fa-2x" id="dropdownNavMenu" ngbDropdownToggle></button>
        <div ngbDropdownMenu aria-labelledby="dropdownNavMenu">
          <button ngbDropdownItem [routerLink]="['/referral/new']">Create Referral</button>
          <button ngbDropdownItem [routerLink]="['/referral/list']">Referral List</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem [routerLink]="['/assessment/list']">Assessment List</button>
          <button ngbDropdownItem></button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem [routerLink]="['/finance/claims/list']">Finance Claims List</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem [routerLink]="['/doctor/claims/list']">Doctor Claims List</button>
        </div>
      </div>
    </div>
  </div>
</div>
