<app-navbar title="Availability"></app-navbar>

<ion-content>
  <ion-card>
    <ion-card-header color="success">
      <ion-icon style="font-size: larger;" name="checkmark-circle"></ion-icon>
      <strong>
        Available
      </strong>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="item green-item" *ngFor="let item of availableList" detail="false"
          (click)="editAvailability(item)">
          <ion-grid>
            <ion-row>
              {{item.start | date: 'dd MMM yy'}}
              {{item.start | date: 'HH:mm'}} to
              {{item.end | date: 'dd MMM yy'}}
              {{item.end | date: 'HH:mm'}}
            </ion-row>
            <ion-row class="location">
              <span *ngIf="item.location.type === 'ContactDetail'">
                {{item.location.contactDetailTypeName}}
              </span>
              <span *ngIf="item.location.type === 'Postcode'">
                {{item.location.postcode}}
              </span>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="danger">
      <ion-icon style="font-size: larger;" name="close-circle"></ion-icon>
      <strong>
        Unavailable
      </strong>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="item red-item" *ngFor="let item of unavailableList" detail="false"
          (click)="editAvailability(item)">
          <ion-grid>
            <ion-row>
              {{item.start | date: 'dd MMM yy'}}
              {{item.start | date: 'HH:mm'}} to
              {{item.end | date: 'dd MMM yy'}}
              {{item.end | date: 'HH:mm'}}
            </ion-row>
            <ion-row class="location">
              <span *ngIf="item.location.type === 'ContactDetail'">
                {{item.location.contactDetailTypeName}}
              </span>
              <span *ngIf="item.location.type === 'Postcode'">
                {{item.location.postcode}}
              </span>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- <ion-row>
    <ion-col>
      <span class="list-title green">
        <ion-icon class="green" name="checkmark-circle"></ion-icon>
        Available
      </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-list>
      <ion-item class="item green-item" *ngFor="let item of availableList" detail="false"
        (click)="editAvailability(item)">
        <ion-grid>
          <ion-row>
            {{item.start | date: 'dd MMM yy'}}
            {{item.start | date: 'HH:mm'}} to
            {{item.end | date: 'dd MMM yy'}}
            {{item.end | date: 'HH:mm'}}
          </ion-row>
          <ion-row class="location">
            <span *ngIf="item.location.type === 'ContactDetail'">
              {{item.location.contactDetailTypeName}}
            </span>
            <span *ngIf="item.location.type === 'Postcode'">
              {{item.location.postcode}}
            </span>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-row>
  <ion-row>
  </ion-row>
  <ion-row>
    <ion-col>
      <span class="list-title red">
        <ion-icon class="red" name="close-circle"></ion-icon>
        Unavailable
      </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-list>
      <ion-item class="item red-item" *ngFor="let item of unavailableList" detail="false"
        (click)="editAvailability(item)">
        <ion-grid>
          <ion-row>
            {{item.start | date: 'dd MMM yy'}}
            {{item.start | date: 'HH:mm'}} to
            {{item.end | date: 'dd MMM yy'}}
            {{item.end | date: 'HH:mm'}}
          </ion-row>
          <ion-row class="location">
            <span *ngIf="item.location.type === 'ContactDetail'">
              {{item.location.contactDetailTypeName}}
            </span>
            <span *ngIf="item.location.type === 'Postcode'">
              {{item.location.postcode}}
            </span>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-row> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add" [routerLink]="['/doctor-availability-add/']" routerDirection="forward">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>