.list-title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 5px;
}

.green {
  color: #009933;
}

.red {
  color: #d9042b;
}

.green-item {
  border-left-color: #009933;
  border-left-style: solid;
  border-left-width: 2px;
}

.red-item {
  border-left-color: #d9042b;
  border-left-style: solid;
  border-left-width: 2px;
}

.location span{
  font-weight: 600;
}

.v-text{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
}

.icon{
  display: inline-block;
  vertical-align: middle;
}