.list-title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 5px;
}

.green {
  color: #009933;
}

.red {
  color: #d9042b;
}

// .item {
//   border-left-width: 5px;
//   border-left-style: solid;
//   border-radius: 3px;
//   margin-left:5px;

// }

.green-item {
  border-left-color: #009933;
}

.red-item {
  border-left-color: #d9042b;
}