<app-navbar title="Availability"></app-navbar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshList($event)">
    <ion-refresher-content refreshingSpinner="none"></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>

    <ion-list-header *ngIf="availableList.length == 0 && unavailableList.length ==0">
      Availability
    </ion-list-header>

    <ion-item *ngIf="availableList.length == 0 && unavailableList.length ==0">

      <div class="no-data-container">
        <ion-icon
          color="medium"
          name="cube"
          class="no-data"
        >
        </ion-icon>
        <h3>No availability records found</h3>
      </div>
    </ion-item>


    <ion-list-header *ngIf="availableList.length > 0">
      <ion-label>Available </ion-label>
    </ion-list-header>

    <ion-item-sliding  
      *ngFor="let item of availableList" 
      detail="false"
      #slidingItem
    >
      <ion-item (click)="editAvailability(item, slidingItem)">
        <ion-avatar slot="start">
          <ion-icon
            color="success"
            size="large"
            name="checkmark-circle"
          >
          </ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Start: {{item.start | date: 'dd MMM yy'}} {{item.start | date: 'HH:mm'}}</h3>
          <h3>End:   {{item.end | date: 'dd MMM yy'}} {{item.end | date: 'HH:mm'}}</h3>
          <h3 *ngIf="item.location.type === 'ContactDetail'">
            Location: {{item.location.contactDetailTypeName}}
          </h3>
          <h3 *ngIf="item.location.type === 'Postcode'">
            Location: {{item.location.postcode}}
          </h3>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteAvailability(item, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-item-option> 
      </ion-item-options>
    </ion-item-sliding>
    <br/>
    <ion-list-header *ngIf="unavailableList.length > 0">
      Unavailable  
    </ion-list-header>

    <ion-item-sliding 
      *ngFor="let item of unavailableList" 
      detail="false"
      #slidingItem
    >
      <ion-item (click)="editAvailability(item, slidingItem)">
        <ion-avatar slot="start">
          <ion-icon
            color="danger"
            size="large"
            name="close-circle"
          >
          </ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Start: {{item.start | date: 'dd MMM yy'}} {{item.start | date: 'HH:mm'}}</h3>
          <h3>End:   {{item.end | date: 'dd MMM yy'}} {{item.end | date: 'HH:mm'}}</h3>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteAvailability(item, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-item-option> 
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button 
      [routerLink]="['/doctor-availability-add/']"
      routerDirection="forward"
      color="primary"
      expand="block"
     >
      Add
    </ion-button>
  </ion-toolbar>
</ion-footer>