<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498917054832-57260ul6s7lg04u6j2cl0i0jafclmg9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498917054832-57260ul6s7lg04u6j2cl0i0jafclmg9s</string>
	<key>API_KEY</key>
	<string>AIzaSyCQVYmyX29cwSfzJgqI4Ns5wzFwSc_hR4c</string>
	<key>GCM_SENDER_ID</key>
	<string>498917054832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.nhs.fmas12d</string>
	<key>PROJECT_ID</key>
	<string>fmas12d</string>
	<key>STORAGE_BUCKET</key>
	<string>fmas12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498917054832:ios:79fa31d153252ab7e017b5</string>
	<key>DATABASE_URL</key>
	<string>https://fmas12d.firebaseio.com</string>
</dict>
</plist>