<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="referral$ | async as referral; else loading">
        <div class="card-header">
          <div class="card-icon">
            <i class="fas fa-file-alt fa-4x"></i>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">View Examination</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-header-details">
          <div class="flex-item">
            Referral Id: <strong>{{referral.id}}</strong>
          </div>
          <div class="flex-item">
            Patient Identifier: <strong>{{referral.patientIdentifier}}</strong>
          </div>
          <div class="flex-item">
            Lead AMHP: <strong>{{referral.leadAmhp}}</strong>
          </div>
          <div class="flex-item">
            Referral Status: <strong>{{referral.status}}</strong>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="currentExaminationForm" novalidate>
            <div class="form-row">
              <div class="col-md-12">
                <label for="amhpUserName">AMHP User Name</label>
                <input
                  class="form-control"
                  formControlName="amhpUserName"
                  id="amhpUserName"
                  type="text"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-9">
                  <label for="fullAddress">Examination Address</label>
                  <input
                    class="form-control"
                    formControlName="fullAddress"
                    id="fullAddress"
                    type="text"
                  />
                </div>
              <div class="col-md-3">
                <label for="postCode">Post Code</label>
                <input
                  class="form-control"
                  formControlName="postCode"
                  id="postCode"
                  type="text"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <label for="meetingArrangementComment">Meeting Arrangement Comment</label>
                <input
                  class="form-control"
                  formControlName="meetingArrangementComment"
                  id="meetingArrangementComment"
                  type="text"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4">
                <label for="mustBeCompletedBy">Must be Completed by</label>
                <input
                  class="form-control"
                  formControlName="mustBeCompletedBy"
                  id="mustBeCompletedBy"
                  type="text"
                />
              </div>
              <div class="col-md-4">
                <label for="preferredDoctorGenderTypeName">Preferred Doctor Gender</label>
                <input
                  class="form-control"
                  formControlName="preferredDoctorGenderTypeName"
                  id="preferredDoctorGenderTypeName"
                  type="text"
                />
              </div>
              <div class="col-md-4">
                <label for="specialityName">Speciality</label>
                <input
                  class="form-control"
                  formControlName="specialityName"
                  id="specialityName"
                  type="text"
                />
              </div>
              <div class="col-md-12">
                <label for="examinationDetails">Examination Details</label>
                <input
                  class="form-control"
                  formControlName="examinationDetails"
                  id="examinationDetails"
                  type="text"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label for="doctorNamesAccepted">Doctors Accepted</label>
                <input
                  class="form-control"
                  formControlName="doctorNamesAccepted"
                  id="doctorNamesAccepted"
                  type="text"
                />
              </div>
              <div class="col-md-6">
                <label for="doctorNamesAllocated">Doctors Allocated</label>
                <input
                  class="form-control"
                  formControlName="doctorNamesAllocated"
                  id="doctorNamesAllocated"
                  type="text"
                />
              </div>
            </div>
            <div class="form-row mt-more-2">
                <div class="col-md-2 mb-2 offset-md-10 text-right">
                    <button class="btn btn-standard btn-cancel" type="button" (click)="CancelView()">
                      <i class="far fa-times-circle"></i>
                      Cancel
                    </button>
                    <button class="btn btn-primary btn-standard btn-spaced" type="button" (click)="EditExamination()">
                      <i class="far fa-edit"></i>
                      Edit
                    </button>
                  </div>
            </div>
            <label>Exam History</label>
            <div class="form-row" style="padding-top:10px; overflow: auto;">
              <table class="table table-bordered table-sm table-referral-list">
                <thead>
                  <tr>
                    <th scope="col" sortable="examinationId" (sort)="onSort($event)">Examination Id</th>
                    <th scope="col" sortable="examinationPostcode" (sort)="onSort($event)">Examination Postcode</th>
                    <th scope="col" sortable="examinationType" (sort)="onSort($event)">Examination Type</th>
                    <th scope="col" sortable="dateTime" (sort)="onSort($event)">Date/Time</th>
                    <th scope="col" sortable="examinationStatus" (sort)="onSort($event)">Status</th>
                    <th scope="col" sortable="reason" (sort)="onSort($event)">Reason</th>
                    <th scope="col" sortable="leadAmhp" (sort)="onSort($event)">Lead AMHP</th>
                    <th scope="col" sortable="doctorsAllocated" (sort)="onSort($event)">Doctors Allocated</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="">
                    <td>
                      <ngb-highlight [result]="" [term]="examinationListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="examinationListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="examinationListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="examinationListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="examinationListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="examinationListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="examinationListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="" [term]="examinationListService.searchTerm"></ngb-highlight>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="" [pageSize]=""></ngb-pagination>
              <select class="custom-select" style="width: auto" name="pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="9999999">All items</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-delay-spinner [delayMessage]="'Retrieving referral data'"></app-delay-spinner>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
