<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <i class="fas fa-check-circle fa-4x"></i>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Allocate Doctors</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>

        <div class="card-body" *ngIf="assessment$ | async as assessment; else loading">

          <div class="assessment-details">

            <div class="row">
              <div class="col-md-3 label">
                Assessment To be Completed By:
              </div>
              <div class="col-md-4">
                {{assessment.dateTime | date:'medium'}}
              </div>
              <div class="col-md-2 label">
                Assessment Postcode:
              </div>
              <div class="col-md-3">
                {{assessment.postcode}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 label">
                Patient Identifier:
              </div>
              <div class="col-md-4">
                {{assessment.patientIdentifier}}
              </div>
              <div class="col-md-2 label">
                Speciality:
              </div>
              <div class="col-md-3">
                {{assessment.specialityName === null ? 'None' : assessment.specialityName}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 label">
                Lead AMHP:
              </div>
              <div class="col-md-4">
                <!-- ToDo: update the API to get the AMHP name -->
                Martin Price
              </div>
              <div class="col-md-2 label">
                Preferred Doctor Gender:
              </div>
              <div class="col-md-3">
                {{assessment.preferredDoctorGenderTypeName === null ? 'N/A' : assessment.preferredDoctorGenderTypeName}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 label">
                Attending AMHP:
              </div>
              <div class="col-md-4">
                <!-- ToDo: loop through the list of selected doctors and display them -->
                Emma Hewitt
              </div>
              <div class="col-md-2 label">
                  Doctors Allocated:
                </div>
                <div class="col-md-3">
                  <!-- ToDo: loop through the list of allocated doctors and display them -->
                  <span>None</span>
                </div>
            </div>
          </div>
          <form [formGroup]="doctorForm" novalidate>

            <div class="form-row" style="margin:10px; padding-top:10px; overflow: auto;">
              <table class="table table-bordered table-sm table-referral-list">
                <thead>
                  <tr>
                    <th class="text-center" scope="col" sortable="doctorName" (sort)="OnSort($event)">
                      Doctor
                    </th>
                    <th class="text-center" scope="col" sortable="doctorGender" (sort)="OnSort($event)">
                      Gender
                    </th>
                    <th class="text-center" scope="col" sortable="doctorType" (sort)="OnSort($event)">
                      Doctor Type
                    </th>
                    <th class="text-center" scope="col" sortable="doctorSpeciality" (sort)="OnSort($event)">
                      Speciality
                    </th>
                    <th class="text-center sm-col" scope="col" sortable="distanceFromAssessment" (sort)="OnSort($event)">
                      Distance (miles)
                    </th>
                    <th class="text-center" scope="col">
                      Allocate
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let availableDoctor of availableDoctors">
                    <td>
                      {{availableDoctor.doctorName}}
                    </td>
                    <td>
                      {{availableDoctor.doctorGender}}
                    </td>
                    <td>
                      {{availableDoctor.doctorType}}
                    </td>
                    <td>
                      {{availableDoctor.doctorSpeciality}}
                    </td>
                    <td class="text-center sm-col">
                      {{availableDoctor.distanceFromAssessment}}
                    </td>
                    <td class="checkmark-content text-center sm-col" style="position: relative">

                      <label class="container">
                        <input
                          class=""
                          type="checkbox"
                          checked={{availableDoctor.selected}}
                          (change)="ToggleSelection(availableDoctor.id, $event)"
                        />
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="form-row ml-more-2 mr-more-2">
              <div class="col-md-2">
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-6 text-right">
                  <button
                  type="button"
                  class="btn btn-standard btn-cancel"
                  (click)="Cancel()"
                  >
                  <i class="far fa-times-circle"></i>
                  Cancel
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-standard"
                  (click)="UpdateAssessment()"
                  [disabled]="allocatedDoctors.length === 0"
                >
                  <i class="far fa-check-circle"></i>
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<ng-template #loading>
  <app-delay-spinner [delayMessage]="'Retrieving assessment data'"></app-delay-spinner>
</ng-template>

<ng-template #cancelAssessment>
    <app-cancel-action-modal
      [modalTitle]="'Cancel Doctor Allocation'"
      [modalBody]="'Do you wish to cancel this doctor allocation? All changes will be lost.'"
      (actioned)="OnCancelModalAction($event)"
    >
    </app-cancel-action-modal>
  </ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
