<app-navbar></app-navbar>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-label class="page-title">
        Confirm Acceptance
      </ion-label>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="assessment-list-last-updated">
          Assessment Date / Time
          <strong>
            {{assessmentRequest.dateTime | date: "dd/MM/yyyy HH:mm"}}
          </strong>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="assessment-list-last-updated">
          Assessment Postcode
          <strong>
            {{assessmentRequest.postcode}}
          </strong>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label>Update Current Location</ion-label>
        <ion-select [(ngModel)]="currentLocationId" (ionChange)="contactChanged()">
          <ion-select-option value="1">Work</ion-select-option>
          <ion-select-option value="2">Home</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        &nbsp;
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button expand="full" color="primary" (click)="getCoordinates()">
          <ion-icon name="compass"></ion-icon> 
          Use Device Location
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          &nbsp;
        </ion-col>
      </ion-row>
    <ion-row *ngIf="this.latitude !== undefined">
      <ion-col>
        Latitude: <strong>{{this.latitude | number:'.4-4'}}</strong>
        Longitude: <strong>{{this.longitude | number:'.4-4'}}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button fill="outline" color="primary" (click)="cancelAcceptance()">
          <ion-icon name="close-circle-outline"></ion-icon>
          Cancel
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-button color="primary" (click)="confirmRequest()">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Confirm
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>