<app-navbar title="{{hasValidClaim ? 'Confirm Claim' : 'Create Claim'}}"></app-navbar>
<ion-content fullscreen>

  <ion-list>

    <ion-list-header>
      Assessment  
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h3 class="bold">Assessment</h3>
        <h3>{{assessment?.scheduledTime | date: "d MMMM yyyy H:mm"}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Address</h3>
        <h3>{{assessment?.address1}}</h3>
        <h3>{{assessment?.address2}}</h3>
        <h3>{{assessment?.address3}}</h3>
        <h3>{{assessment?.address4}}</h3>
        <h3>{{assessment?.postcode}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">AMHP</h3>
        <h3>{{assessment?.amhpUserName}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item>
      <ion-label>
        <h3 class="bold">Assessment Outcome</h3>
        <h3>{{assessment?.isSuccessful ? "Success" : "Failed"}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item *ngIf="!assessment?.isSuccessful">
      <ion-label>
        <h3 class="bold">Reason</h3>
        <h3>{{assessment?.unsuccessfulAssessmentTypeName}}</h3>
      </ion-label>            
    </ion-item>
    <br/>
    <ion-list-header>
      Claim 
    </ion-list-header>

    <ion-item *ngIf="startLocations.length > 0 && !hasValidClaim">
      <ion-label>
        <h3 class="bold">Start Location</h3>
      </ion-label> 
      <ion-select [(ngModel)]="startLocation">
        <ion-select-option 
          *ngFor="let location of startLocations" 
          [value]="location"
        >
          {{location.address1 | ellipsis: 15}} {{location.postcode}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!hasValidClaim">
      <ion-label>
        <h3 class="bold">Different return destination</h3>
      </ion-label> 
      <ion-checkbox [(ngModel)]="differentReturnDestination"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="endLocations.length > 0 && differentReturnDestination && !hasValidClaim">
      <ion-label>
        <h3 class="bold">End Location</h3>
      </ion-label> 
      <ion-select [(ngModel)]="endLocation">
        <ion-select-option 
          *ngFor="let location of endLocations" 
          [value]="location"
        >
          {{location.address1 | ellipsis: 15}} {{location.postcode}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!hasValidClaim">
      <ion-label>
        <h3 class="bold">My Patient</h3>
      </ion-label> 
      <ion-checkbox [(ngModel)]="ownPatient"></ion-checkbox>
    </ion-item>

    <!-- fields shown when claim is being confirmed -->

    <ion-item *ngIf="hasValidClaim">
      <ion-label>
        <h3 class="bold">Start Postcode</h3>
        <h3>{{claim?.startPostcode}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item *ngIf="hasValidClaim">
      <ion-label>
        <h3 class="bold">End Postcode</h3>
        <h3>{{claim?.endPostcode}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item *ngIf="hasValidClaim">
      <ion-label>
        <h3 class="bold">Distance</h3>
        <h3>{{claimResponse?.mileage}} miles</h3>
      </ion-label>            
    </ion-item>

    <ion-item *ngIf="hasValidClaim">
      <ion-label>
        <h3 class="bold">Assessment Payment</h3>
        <h3>{{claimResponse?.assessmentPayment | currency: 'GBP'}}</h3>
      </ion-label>            
    </ion-item>

    <ion-item *ngIf="hasValidClaim">
      <ion-label>
        <h3 class="bold">Mileage Payment</h3>
        <h3>{{claimResponse?.mileagePayment | currency: 'GBP'}}</h3>
      </ion-label>            
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button 
      (click)="validateClaim()"
      color="primary"
      expand="block"
      *ngIf="!hasValidClaim"
    >
      Register Claim
    </ion-button>
    <ion-button 
      (click)="confirmClaim()"
      color="primary"
      expand="block"
      *ngIf="hasValidClaim"
    >
      Confirm Claim
    </ion-button>    
  </ion-toolbar>
</ion-footer>

