<ion-content>
  <ion-grid>    
    <ion-row>
      <ion-col>
        <ion-input placeholder="Email address" [(ngModel)]="email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="login()" expand="full">
          Log On
        </ion-button>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>
