<ngb-toast
  *ngFor="let toast of toastService.toasts"
  [class]="toast.classname"
  [autohide]="toast.autohide || true"
  [delay]="toast.delay || 5000"
  (hide)="toastService.remove(toast)"
>
  <ng-template [ngIf]="toast">
    <div class="toast-close">
      <button type="button" class="toast-btn" (click)="toastService.remove(toast)">X</button>
    </div>

    <div class="row">
      <div class="col-md-2 toast-icon">
        <i class="{{toast.iconClass}}"></i>
      </div>
      <div class="col-md-8">
        <div class="row bottom-border" *ngIf="toast.title != null">
          <div class="toast-title">
            {{toast.title}}
          </div>
        </div>
        <div class="row">
          <div class="toast-message">
            {{toast.message}}
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-toast>
