<app-navbar></app-navbar>
<div class="page-content">
  <div class="row">
    <div class="col-md-12 offset-md-0">
      <div class="card">
        <div class="card-header">
          <div class="card-icon">
            <em class="fas fa-th-list fa-4x"></em>
          </div>
          <div class="card-header-text">
            <h4 class="card-title">Referral List</h4>
            <h6 class="card-subtitle mb-2 text-muted">
              Additional explanation text can be added here if required
            </h6>
          </div>
        </div>
        <div class="card-body">
          <form novalidate>
            <div class="form-row">
              <div class="col-md-4">
                <input class="form-control" id="searchTerm" type="text" name="searchTerm"
                placeholder="Full text search:"
                  [(ngModel)]="referralListService.searchTerm" />
              </div>

                <app-delay-spinner *ngIf="referralListService.loading$ | async" [delayMessage]="'Loading...'"></app-delay-spinner>

              <div class="col-md-2 offset-md-2">
                <a routerLink="/referral/new" routerLinkActive="active" class="btn btn-primary vcenter" role="button"
                  aria-disabled="true" placement="right" ngbTooltip="Create a new referral" [openDelay]="1000"
                  [closeDelay]="500" tooltipClass="subtle-tooltip">Create Referral</a>
              </div>
            </div>
            <div class="form-row" style="padding-top:10px; overflow: auto;">
              <table class="table table-bordered table-sm table-referral-list">
                <thead>
                  <tr>
                    <th scope="col" sortable="referralId" (sort)="onSort($event)">Referral Id</th>
                    <th scope="col" sortable="patientIdentifier" (sort)="onSort($event)">Patient Identifier</th>
                    <th scope="col" sortable="leadAmhp" (sort)="onSort($event)">Lead AMHP</th>
                    <th scope="col" sortable="numberOfExaminationAttempts" (sort)="onSort($event)">No. of Exam Attempts
                    </th>
                    <th scope="col" sortable="examinationLocationPostcode" (sort)="onSort($event)">Exam Location
                      Postcode</th>
                    <th scope="col" sortable="speciality" (sort)="onSort($event)">Speciality</th>
                    <th scope="col" sortable="timescale" (sort)="onSort($event)">Timescale</th>
                    <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
                    <th scope="col" sortable="responsesReceived" (sort)="onSort($event)">Responses Received</th>
                    <th scope="col" sortable="doctorsAllocated" (sort)="onSort($event)">Doctors Allocated</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let referral of referralList$ | async">
                    <td>
                      <a routerLink="/referral/edit/{{referral.referralId}}" routerLinkActive="active">
                        <ngb-highlight [result]="referral.referralId" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td>
                      <a routerLink="/patient/edit/{{referral.patientId}}" routerLinkActive="active">
                        <ngb-highlight [result]="referral.patientIdentifier" [term]="referralListService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </td>
                    <td>
                      <ngb-highlight [result]="referral.leadAmhp" [term]="referralListService.searchTerm">
                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="referral.numberOfExaminationAttempts"
                        [term]="referralListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="referral.examinationLocationPostcode"
                        [term]="referralListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="referral.speciality" [term]="referralListService.searchTerm">
                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="referral.timescale | date:'dd/MM/yyyy HH:mm'"
                        [term]="referralListService.searchTerm">
                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="referral.status" [term]="referralListService.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="referral.responsesReceived" [term]="referralListService.searchTerm">
                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="referral.doctorsAllocated" [term]="referralListService.searchTerm">
                      </ngb-highlight>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="total$ | async" [(page)]="referralListService.page"
                [pageSize]="referralListService.pageSize">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" name="pageSize"
                [(ngModel)]="referralListService.pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="9999999">All items</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
